@media screen and (max-width: 959px){
html {
  touch-action: manipulation;
}
a{
	text-decoration:none;
	color: initial;
}

.body{
}

header{
	position	:fixed;
	top			:0;
	left		:0;
	right		:0;
	margin		:auto;
	height		:40px;
	z-index		:10;
}

@font-face {
	font-family: at_icon;
	src: url("../z_font/nightparty_icon.ttf") format('truetype');
}

.menu{
	display			:flex;
	display			:none;
	background		:rgba(250,250,250,0.8);
	height			:36px;
	width			:500px;
	margin			:0;
	border-radius	:0 0 20px 0;
	justify-content	:center;
	border-bottom	:2px solid #fe7f9c;
	border-right	:2px solid #fe7f9c;
}

.menu_in{
	display			:block;
	width			:80px;
	flex-basis		:80px;
	height			:20px;
	line-height		:20px;
	text-align		:center;
	font-size		:14px;
	font-weight		:800;
	margin			:8px 0;
	border-right	:1px solid #d0d0d0;
}

#menu6{
	border:none;
}

.main{
	height		:auto;
}

.top_0{
	right		:-40vw;
}

.top_1{
	right		:30vw;
	left		:auto;
	height		:100vh;
}

.h2{
	position		:absolute;
	top				:1vw;
	left			:2vw;
	width			:75vw;
	height			:10vw;
	line-height		:10vw;
	text-align		:left;
	background		:linear-gradient(#cc0000,#900000);	
	color			:#fafafa;
	font-size		:4vw;
	border-radius	:1vw 5vw 5vw 1vw;
	margin			:0;
	padding-left 	:2vw;
	box-shadow		:2px 2px 2px rgba(30,30,30,0.6);
}

.h2_s{
	display:none;
}

.box{
	position	:relative;
	top			:0;
	width		:100vw;
	height 		:auto;
	min-height	:100vh;
	margin		:0 auto;
	background	:#f0f8ff;
}

#block_0{
	z-index		:1;
	top			:0;
}
#block_1{
	z-index:2;
}

#block_2{
	z-index:3;
}

#block_3,#block_4{
	height:200vw;

}

#block_6{
	height	:100vh;
}

.box_flex{
	display				:block;
	margin				:0 auto;
	width				:100vw;
	height				:370vw;
	padding-top			:10vw;
	background			:none;
}

.box_ab{
	width			:100vw;
	height			:auto;
	padding			:12vw 0 3vw 0;
	background		:none;
}

.box_top{
	position		:relative;
	margin			:0;
	display			:block;
	width			:100vw;
	height			:100vh;
}

.box_flex_left{
	position		:absolute;
	top				:53vw;
	left			:1vw;
	width			:94vw;
	height			:125vw;
	padding			:1vw;
	border			:1vw solid #60a0f0;
	border-radius	:2vw;
}

.box_flex_right{
	top				:15vw;
	right			:-20vh;
	width			:94vw;
	height			:32vw;
	padding			:1vw;
	font-size		:3.5vw;
	line-height		:5.5vw;
	border			:1vw solid #60a0f0;
	border-radius	:2vw;
}

.box_item{
	position		:absolute;
	width			:46vw;
	padding			:0;
	height			:40vw;
	transform		:rotate(-15deg);
	opacity			:0;
	transform-origin:top right;
}

.box_item_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:auto;
	bottom			:auto;
	width			:44vw;
	height			:38vw;
	border			:0.5vw solid #60a0f0;
}


.box_item_title{
	font-size		:3.5vw;
	height			:7vw;
	line-height		:7vw;
	padding-left	:1vw;
}

.box_item_p{
	height			:28.5vw;
	width			:40vw;	
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:1vw;
}

.box_s{
	position		:absolute;
	bottom			:0;
	left			:1vw;
	font-size		:3vw;
	line-height		:3vw;
	color			:#000090;
}

.box_item_icon{
	right			:1vw;
	height			:5vw;
	width			:6vw;
	background		:#a0c0ff;
	border			:1px solid #ffffff;
	overflow		:hidden;
	cursor			:pointer;
	border-radius	:1vw;
}

.box_item_icon_1,.box_item_icon_3{
	display:none;
}

.box_item_icon_2{
	font-size		:4vw;
	height			:5vw;
	line-height		:5vw;
	width			:6vw;
	color			:#ffffff;
}


.al{
	display		:none;
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:1vh;
	margin		:auto;

	height		:0.8vh;
	width		:0.8vh;

	border-bottom	:2px solid #ffffff;
	border-right	:2px solid #ffffff;
	transform		:rotate(-45deg);
}


#block_4 .box_flex_left, #block_4 .box_flex_right{
	border			:1vw solid #ffc0e0;
}

#block_4 .box_item_in{
	border			:0.5vw solid #ffc0e0;
}

#block_4 .box_item_title{
	background		:#ffe8f0;
	color			:#c00000;
}


#block_4 .box_item_icon{
	background		:#ffa0c0;
}

.box_item2{
	margin			:2vw;
	width			:65vw;
	font-size		:3.5vw;
	line-height		:5vw;
	color			:#303030;	
}

.box_item2_img{
	position		:absolute;
	bottom			:0;
	right			:0;
	left			:auto;
	margin			:auto;
	width			:28vw;
}

.box_1_0{
	margin			:10vw auto;
	width			:88vw;
	padding			:2vw;
	height			:52vw;
	line-height		:5.8vw;
	font-size		:3.5vw;
	border			:1px solid #303030;
	opacity			:0;
}

.box_1_0_title{
	font-weight	:800; 
	font-size	:3.8vw;
}

.border{
	padding			:0 1vw;
}

.box_1_1{
	position		:relative;
	width			:92vw;
	padding			:0;
	height			:48vw;
	margin			:3vw auto;
}

#box_item_1,#box_item_2,#box_item_3{
	top				:auto;
	left			:auto;

}



.box_1_1_text{
	position		:absolute;
	top				:13vw;
	left			:0;
	width			:88vw;
	border			:1vw solid #FE7F9C;
	border-radius	:2vw;
	background		:#fafafa;
	height			:27vw;
	line-height		:5.5vw;
	text-align		:left;
	color			:#202020;
	font-size		:3.5vw;
	padding			:1vw;
	margin			:0;
}

.box_1_ball{
	position		:absolute;
	width			:96vw;
	height			:12vw;
	color			:#fafafa;
}

.ball_txt{
	position		:absolute;
	bottom			:0.5vw;
	left			:0;
	display			:inline-block;
	width			:77vw;
	height			:10vw;
	line-height		:10vw;
	text-align		:left;
	font-size		:5vw;
	font-weight		:800;
	background		:#FE7F9C;
	box-shadow		:none;
	border-radius	:2vw;
	overflow		:hidden;
	padding-left	:15vw;
}

.ball_icon{
	font-family		:at_icon;
	height			:12vw;
	line-height		:12vw;
	width			:12vw;
	text-align		:center;
	font-size		:10vw;
	background		:#fafafa;
	border-radius	:2vw;
	position		:absolute;
	bottom			:0.5vw;
	left			:0px;
	border			:1vw solid #FE7F9C;
	color			:#FE7F9C;
}

#ball1,#ball2,#ball3{
	top				:0;
	left			:0;
}

.box_2_flex{
	flex-wrap		:wrap;
	width			:94vw;
	padding			:0;
	height			:auto;
}

.box_2_0{
	display			:flex;
	justify-content	:space-between;
	margin			:10vw auto 2vw auto;
	width			:90vw;
	padding			:0;
	height			:auto;
	padding			:2vw;
	font-size		:3.5vw;
	line-height		:5.5vw;
	text-align		:left;
	color			:#384240;
}

.box_2_1{
	width			:94vw;
	height			:80vw;
	border			:0.5vw solid #e0c0f0;
	border-radius	:2vw;
	text-align		:left;
	color			:#384240;
	font-size		:5vw;
	margin			:10vw auto 5vw auto;;
}

.box_2_1_text{
	position		:absolute;
	bottom			:2vw;
	left			:0;
	right			:0;
	margin			:auto;	
	width			:88vw;
	height			:28vw;
	border			:1px solid #303030;
	border-radius	:1vw;
	line-height		:5.5vw;
	text-align		:left;
	color			:#384240;
	font-size		:3.5vw;
	padding			:1.5Vw 1vw 1vw 1.5vw;
	box-shadow		:0.5vw 0.5vw 0.5vw rgba(255,240,250,0.6) inset;
}

.box_5_left{
	margin				:1vw auto;
	width				:100vw;
}

.box_5_right{
	margin				:1vw auto;
	width				:100vw;
}

.box_5_title,#block_5_box_5{
	position		:relative;
	margin			:0 auto 1vw auto;
	width			:94vw;
	flex-basis		:94vw;
	height			:10vw;
	line-height		:12vw;
	border-bottom	:0.5vw solid #202020;
	font-size		:5vw;
	font-weight		:700;
	color			:#101520;
	text-align		:left;
}

.box_5_title_s{
	display			:inline-block;
	margin			:0 0.5vw;
	height			:6vw;
	line-height		:9vw;
	font-size		:4vw;
	color			:#101520;
	text-align		:left;
}

.box_5_title_p{
	position		:absolute;
	bottom			:0px;
	right			:1vw;
	height			:10vw;
	line-height		:12vw;
	font-size		:6vw;
	font-weight		:700;
	color			:#d00000;
	text-align		:right;
}

.box_5_0{
	margin			:1vw auto;
	width			:94vw;
	flex-basis		:94vw;
}

.box_5_0_title{
	margin			:1vw auto;
	width			:92vw;
	flex-basis		:92vw;
	font-size		:4.5vw;
	height			:7vw;
	line-height		:8vw;
}

.box_5_0_title_p{
	position		:absolute;
	right			:1vw;
	width			:30vw;
	font-size		:5vw;
	height			:6vw;
	line-height		:6vw;
}

.box_5_1{
	position		:relative;
	margin			:1vw auto;
	width			:96vw;
	flex-basis		:96vw;
	text-align		:left;
}

.box_5_1_title{
	position		:relative;
	margin			:2vw auto 0 auto;
	width			:96vw;
	flex-basis		:96vw;
	font-size		:3.5vw;
	font-weight		:700;
	height			:7vw;
	line-height		:8vw;
	border-bottom	:1px solid #101010;
}

.box_5_1_title_s{
	font-size		:3.5vw;
	height			:5.5vw;
	line-height		:6.5vw;
}

.box_5_1_title_p{
	position		:absolute;
	right			:1vw;
	bottom			:0;
	width			:96vw;
	text-align		:right;
	font-size		:3.8vw;
	font-weight		:700;
	height			:5.5vw;	
	line-height		:5.5vw;
	color			:#e00000;
}

.box_6_0{
	position	:relative;
	display		:block;
	width		:70vw;
	height		:40vw;
	text-align	:left;
	border		:0.5vw solid #c0a0e0;
	margin		:15vw auto 5vw auto;
	background	:#fafafa;
}

.box_6_0_1{
	font-size	:3.5vw;
	color		:#606060;
	display		:block;
	width		:50vw;
	height		:30vw;
	margin		:5vw auto;
}

.box_6_1{
	position	:absolute;
	bottom		:0;
	left		:0;
	right		:0;
	display		:block;
	width		:50vw;
	height		:12vw;
	line-height	:12vw;
	text-align	:center;

	border-radius:4vw;
	font-size	:4vw;
	background	:#0000a0;
	color		:#fafafa;
	margin		:auto;
	font-weight:700;
}


.footer{
	width		:100vw;
	height		:20vw;
}


.comm_p,.comm_p2{
	width			:94vw;
	padding			:1vw;
	line-height		:5vw;
	font-size		:3.5vw;
}

.top_comm{
	position	:fixed;
	left		:0vh;
	top			:50vh;
	width		:70vw;
	height		:37vw;
	padding		:2vw;
}

.top_title{
	font-size	:5vw;
	font-weight	:900;
	text-align	:left;
	margin		:0 0 1vh 0;
	padding		:0; 
}

.top_p{
	font-size	:3.2vw;
	text-align	:left;
	line-height	:5vw;
	padding		:0;
	margin		:0;
}

.pc_only{
	display:none;
}

}
