html {
  touch-action: manipulation;
}
a{
	text-decoration:none;
	color: initial;
}

.body{
	background		:linear-gradient(90deg,#3a3830 0%, #9a9890 50%, #3a3830 100%);
	background		:#fafafa;
	margin			:0;
	padding			:0;
	line-height		:1.2;
	color			:#333;
	font-size		:0;
	font-family		:"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align		:center;
}

header{
	position	:fixed;
	top			:0;
	left		:0;
	right		:0;
	margin		:auto;
	height		:40px;
	z-index		:10;
}

@font-face {
	font-family: at_icon;
	src: url("../z_font/nightparty_icon.ttf") format('truetype');
}

.menu{
	display			:flex;
	display			:none;
	background		:rgba(250,250,250,0.8);
	height			:36px;
	width			:500px;
	margin			:0;
	border-radius	:0 0 20px 0;
	justify-content	:center;
	border-bottom	:2px solid #fe7f9c;
	border-right	:2px solid #fe7f9c;
}

.menu_in{
	display			:block;
	width			:80px;
	flex-basis		:80px;
	height			:20px;
	line-height		:20px;
	text-align		:center;
	font-size		:14px;
	font-weight		:800;
	margin			:8px 0;
	border-right	:1px solid #d0d0d0;
}

#menu6{
	border:none;
}

.main{
	width		:100%;
	height		:200vh;
	font-size	:0;
	text-align	:center;
	margin		:0;
	padding		:0;
	overflow	:hidden;
}

.top_0{
	position	:fixed;
	top			:0;
	right		:0;
	height		:100vh;
}

.top_1{
	position	:fixed;
	top			:0;
	left		:0;
	height		:100vh;
}

.h2{
	position		:absolute;
	top				:2vh;
	left			:-2vh;
	width			:70vh;
	height			:7vh;
	line-height		:7vh;
	text-align		:left;
	background		:linear-gradient(#cc0000,#900000);	
	color			:#fafafa;
	font-size		:4vh;
	border-radius	:0.5vh 3vh 3vh 0.5vh;
	margin			:0;
	padding-left 	:1vh;
	box-shadow		:2px 2px 2px rgba(30,30,30,0.6);
}

.h2_s{
	position			:absolute;
	top					:6vh;
	left				:-2vh;
	width				:2.4vh;
	height				:3vh;
	z-index				:-1;
	background			:#101520;	
	transform-origin	:left bottom;
	transform			:rotate(20deg);
}

.box{
	position	:fixed;
	top			:100vh;
	display		:block;
	width		:100vw;
	height		:100vh;
	padding		:0;
	margin		:0 auto;
}

#block_0{
	z-index		:1;
	top			:0;
}
#block_1{
	z-index:2;
}

#block_2{
	z-index:3;
}

#block_3{
	z-index:4;
}

#block_4{
	z-index:5;
}

#block_5{
	z-index:6;
}

#block_6{
	z-index:7;
}

.box_flex{
	position			:relative;
	margin				:0 auto;
	display				:flex;
	width				:170vh;
	height				:90vh;
	padding-top			:10vh;
	background			:rgba(255,255,255,0.6);
	justify-content		:space-between
}

.box_ab{
	position		:relative;
	margin			:0 auto;
	display			:block;
	width			:170vh;
	height			:90vh;
	padding-top		:10vh;
	background		:rgba(255,255,255,0.5);
}

.box_top{
	position		:fixed;
	top				:0;
	left			:0;
	right			:0;
	margin			:auto;
	display			:block;
	width			:170vw;
	height			:100vh;
}

.box_flex_left{
	position		:absolute;
	top				:11vh;
	left			:2vh;
	display			:block;
	flex-wrap		:wrap;
	width			:114vh;
	height			:75vh;
	padding			:1vh;
	background		:#fafafa;
	border			:1vh solid #60a0f0;
	border-radius	:2vh;
}

.box_flex_right{
	position		:absolute;
	top				:11vh;
	right			:-20vh;
	display			:block;
	width			:42vh;
	height			:75vh;
	padding			:1vh;
	font-size		:2vh;
	line-height		:3vh;
	text-align		:left;
	background		:#ffffff;
	border			:1vh solid #60a0f0;
	border-radius	:2vh;
	opacity			:0;
}

.box_item{
	position		:absolute;
	width			:57vh;
	padding			:0;
	height			:25vh;
	transform		:rotate(-15deg);
	opacity			:0;
	transform-origin:top right;
}

.box_item_in{
	position		:absolute;
	top				:1vh;
	left			:1vh;
	right			:1vh;
	bottom			:1vh;
	margin			:auto;
	width			:53vh;
	height			:21vh;
	border			:1vh solid #60a0f0;
	padding			:0;
	background		:linear-gradient(#fffafa,#fff0f0);
	background		:#fafafa;
	text-align		:left;
	color			:#202020;
}


.box_item_title{
	position		:relative;
	background		:#e8f0ff;
	color			:#0000c0;
	font-size		:2.5vh;
	height			:5vh;
	line-height		:5vh;
	margin			:0 auto;
	padding-left	:2vh;
	font-weight		:700;
}

.box_item_p{
	display			:block;
	position		:relative;
	height			:12.5vh;
	width			:50vh;	
	font-size		:2vh;
	line-height		:3vh;
	padding			:1vh;
	margin			:0 auto;
	color			:#303030;
}

.box_s{
	position		:absolute;
	bottom			:0vh;
	left			:2vh;
	font-size		:1.8vh;
	line-height		:2.5vh;
	color			:#404060;
}

.box_item_icon{
	display			:inline-block;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:1vh;
	margin			:auto;
	height			:3.5vh;
	width			:5vh;
	background		:#a0c0ff;
	border			:0.2vh solid #ffffff;
	overflow		:hidden;
	cursor			:pointer;
	border-radius	:1vh;
}

.box_item_icon_1,.box_item_icon_3{
	position		:absolute;
	top				:-3vh;
	right			:15vh;
	width			:17vh;
	height			:11vh;
	background		:linear-gradient(30deg,#0000c0,#000080);
	transform		:rotate(-30deg);
	padding-left	:3vh;
}

.box_item_icon_3{
	background		:linear-gradient(30deg,#c00080,#900050);
}

.box_item_icon_2{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:0;
	font-size		:3vh;
	height			:3.5vh;
	line-height		:3.5vh;
	color			:#ffffff;
	text-align		:center;
	width			:5vh;
	font-family		:at_icon;
	
}

.al{
	display		:block;
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:1vh;
	margin		:auto;

	height		:0.8vh;
	width		:0.8vh;

	border-bottom	:2px solid #ffffff;
	border-right	:2px solid #ffffff;
	transform		:rotate(-45deg);
	transform-origin:center;
}


#block_4 .box_flex_left, #block_4 .box_flex_right, #block_4 .box_item_in{
	border			:1vh solid #ffc0e0;
}

#block_4 .box_item_title{
	background		:#ffe8f0;
	color			:#c00000;
}


#block_4 .box_item_icon{
	background		:#ffa0c0;
}

.box_item1_img{
	position		:absolute;
	bottom			:2vh;
	right			:0;
	margin			:auto;
	width			:36vh;
}
.box_item2{
	margin			:1.5vh;
	width			:39vh;
	height			:40vh;
	font-size		:2vh;
	line-height		:3vh;
	color			:#303030;	
}

.box_item2_img{
	position		:absolute;
	bottom			:1vh;
	right			:0;
	left			:0;
	margin			:auto;
	width			:38vh;
}

.box_1{
	position		:relative;
	margin			:5vh auto 2vh auto;
	width			:162vh;
	padding			:1vh;
	height			:42vh;
	background		:#ffffff;
	opacity			:0;
}


.box_1_0{
	margin			:4vh auto 3vh 1vh;
	width			:120vh;
	padding			:1.5vh;
	background		:#e8f0e0;
	height			:15vh;
	line-height		:4vh;
	text-align		:left;
	color			:#506070;
	
	font-size		:2.2vh;
	border			:1px solid #404040;
	opacity			:0;
}

.box_1_0_title{
	font-weight	:700; 
	font-size	:2.5vh;
}

.border{
	padding			:0 5px;
	background		:linear-gradient(transparent 50%, #ffd8f8 50%, #ffd8f8 100%);
	color			:#304050;
}

#box_item_1{
	left			:3.5vh;
}

#box_item_2{
	left			:59vh;
}

#box_item_3{
	left			:114.5vh;
}

.box_1_out{
	position		:fixed;
	left			:0;
	right			:0;
	top				:62vh;
	margin			:auto;
	width			:100vw;
	height			:34vh;
}

.box_1_1{
	position		:absolute;
	top				:76.5vh;
	width			:53vh;
	padding			:0;
	height			:21vh;
}


.box_1_2{
	display			:inline-block;
	height			:6vh;
	line-height		:7vh;
	font-size		:4.5vh;
	margin			:0 auto;
	text-align		:center;
	color			:#dE5F7C;
	font-weight		:700;
	border-bottom	:1vh solid #FE7F9C;
	padding:0 1vh;

}


.box_1_1_text{
	position		:absolute;
	top				:0vh;
	left			:0;
	width			:49vh;
	border			:1vh solid #FE7F9C;
	border-radius	:2vh;
	background		:#fafafa;
	height			:16vh;
	line-height		:2.7vh;
	text-align		:left;
	color			:#202020;
	font-size		:2vh;
	padding			:1vh;
	margin:0;
}

.box_1_ball{
	position		:absolute;
	width			:53vh;
	height			:9vh;
	color			:#fafafa;
}

.ball_txt{
	position		:absolute;
	bottom			:0.5vh;
	left			:0;
	display			:inline-block;
	width			:42.5vh;
	height			:7.5vh;
	line-height		:7.5vh;
	text-align		:left;
	font-size		:4.5vh;
	font-weight		:800;
	background		:#FE7F9C;
	border-radius	:1vh;
	overflow		:hidden;
	padding-left	:10vh;
}

.ball_icon{
	font-family		:at_icon;
	height			:8vh;
	line-height		:8vh;
	width			:8vh;
	text-align		:center;
	font-size		:7vh;
	background		:#fafafa;
	border-radius	:1vh;
	position		:absolute;
	bottom			:0.5vh;
	left			:0px;
	border			:0.5vh solid #FE7F9C;
	color			:#FE7F9C;
}

#ball1{
	left			:15vh;
	top				:1vh;
}

#ball2{
	left			:15vh;
	top				:12vh;
}

#ball3{
	left			:15vh;
	top				:23vh;
}

.box_2{
	position		:relative;
	margin			:4vh auto 3vh auto;
	width			:162vh;
	padding			:1vh;
	height			:42vh;
	background		:#ffffff	;
	opacity			:0;
}


.box_2_0{
	display			:block;
	margin			:2vh auto auto 2vh;
	width			:120vh;
	padding			:1.5vh;
	font-size		:2.2vh;
	line-height		:3.5vh;
	color			:#384240;
	text-align		:left;
}

.box_2_flex{
	display			:flex;
	justify-content	:space-between;
	margin			:2vh auto 1vh auto;
	width			:164vh;
	padding			:0;
	height			:40vh;
}

.box_2_1{
	position		:relative;
	display			:inline-block;
	text-decoration	:none;
	width			:78vh;
	padding			:0;
	height			:32vh;
	border			:1.5vh solid #d0a0a8;
	border-radius	:2vh;
	line-height		:3vh;
	text-align		:left;
	color			:#384240;
	font-size		:2.1vh;
	background		:linear-gradient(135deg,#fff8f8,#fff0f0);
	margin-top		:10vh;
	opacity			:0;
}

.box_2_1_title{
	position		:absolute;
	top				:1vh;
	right			:1vh;
	width			:32vh;
	height			:5vh;
	line-height		:6vh;
	padding			:0 1vh;
	text-align		:left;
	font-weight		:700;
	color			:#b08088;
	font-size		:2.5vh;
}
.box_2_1_text{
	position		:absolute;
	bottom			:1vh;
	right			:1vh;
	width			:32vh;
	height			:23vh;
	border			:1px solid #ffd0d0;
	border-radius	:5px;
	line-height		:3vh;
	text-align		:left;
	color			:#384240;
	font-size		:2vh;
	padding			:1vh;
	background		:#fcfcfc;
	box-shadow		:0.2vh 0.2vh 0.5vh rgba(255,240,250,0.6) inset;
}


.box_2_1_img{
	position		:absolute;
	top				:1vh;
	left			:1vh;
	width			:40vh;
	height			:30vh;
}


.box_5_left{
	position			:relative;
	margin				:1vh auto;
	display				:flex;
	flex-wrap			:wrap;
	width				:111vh;
	flex-basis			:111vh;
	justify-content		:flex-start;
	align-items			:flex-start;
	align-content		:flex-start;
}

.box_5_right{
	position			:relative;
	margin				:1vh auto;
	flex-wrap			:wrap;
	display				:flex;
	width				:55vh;
	flex-basis			:55vh;
	justify-content		:flex-start;
	align-items			:flex-start;
	align-content		:flex-start;
}

.box_5_title{
	position			:relative;
	margin				:10vh auto 1vh auto;
	width				:111vh;
	height				:6vh;
	line-height			:7vh;
	border-bottom		:0.5vh solid #202020;
	font-size			:3.5vh;
	font-weight			:700;
	color				:#101520;
	text-align			:left;
	opacity				:0;
}

#block_5_box_5{
	width				:53vh;
	flex-basis			:53vh;
}

.box_5_title_s{
	display				:inline-block;
	margin				:0 0.5vh;
	height				:6vh;
	line-height			:9vh;
	font-size			:2vh;
	color				:#101520;
	text-align			:left;
}

.box_5_title_p{
	position		:absolute;
	bottom			:0px;
	right			:1vh;
	height			:6vh;
	line-height		:6vh;
	font-size		:4.5vh;
	font-weight		:700;
	color			:#d00000;
	text-align		:right;
}

.box_5_0{
	position		:relative;
	margin			:10vh auto 2vh auto;
	width			:110vh;
	flex-basis		:110vh;
	border			:1px solid #101010;
	opacity			:0;
	background:#fefefe;
}

.box_5_0_title{
	position		:relative;
	margin			:1vh auto;
	width			:108vh;
	text-align		:left;
	font-size		:2.5vh;
	height			:4vh;
	line-height		:4vh;
}

.box_5_0_title_p{
	position		:absolute;
	right			:0.5vh;
	bottom			:0vh;
	width			:53vh;
	text-align		:right;
	font-size		:2.8vh;
	height			:3.5vh;
	line-height		:3.5vh;
}


.box_5_1{
	position		:relative;
	margin			:1vh auto;
	width			:53vh;
	flex-basis		:53vh;
	text-align		:left;
}


.box_5_1_title{
	position		:relative;
	margin			:1vh auto 0 auto;
	width			:53vh;
	flex-basis		:53vh;
	text-align		:left;
	font-size		:2.2vh;
	font-weight		:700;
	height			:3.5vh;
	line-height		:3.5vh;
	border-bottom	:1px solid #101010;
}

.box_5_1_title_s{
	margin			:0;
	text-align		:left;
	font-size		:1.8vh;
	height			:3.5vh;
	line-height		:4vh;
}


.box_5_1_title_p{
	position		:absolute;
	right			:0.5vh;
	bottom			:0vh;
	width			:53vh;
	text-align		:right;
	font-size		:2.2vh;
	font-weight		:700;
	height			:3.5vh;
	line-height		:3.5vh;
	color			:#e00000;
}

.box_6_0{
	position	:relative;
	display		:block;
	width		:80vh;
	height		:50vh;
	text-align	:left;
	border		:0.5vh solid #c0a0e0;
	margin		:15vh auto 3vh auto;
	background	:#fafafa;
	opacity		:0;
}

.box_6_0_1{
	position	:relative;
	font-size	:3vh;
	color		:#606060;
	display		:block;
	width		:70vh;
	height		:36vh;
	line-height	:4.2vh;
	text-align	:left;
	margin		:5vh auto 3vh auto;
}


.box_6_0_2{
	font-weight	:700;
	color		:#c00000;
	border		:0.5vh solid #c00000;
	background	:#fffafa;
	font-size	:2.5vh;
	display		:block;
	width		:64vh;
	line-height	:4vh;
	text-align	:left;
	margin		:2vh auto;
	padding		:1.5vh;
}

.box_6_1{
	position	:absolute;
	bottom		:3vh;
	left		:0;
	right		:0;
	display		:block;
	width		:40vh;
	height		:8vh;
	line-height	:8vh;
	text-align	:center;

	border-radius:2vh;
	font-size	:3vh;
	background	:#0000c0;
	color		:#fafafa;
	margin		:auto;
	font-weight	:700;
}

.footer{
	position	:absolute;
	left		:0;
	right		:0;
	bottom		:0;
	display		:block;
	width		:170vh;
	height		:4vh;
	line-height	:4vh;
	margin		:auto;
	background	:#903000;
	text-align	:center;
	font-size	:2vh;
	color		:#fafafa;
}

.comm_p{
	width			:53vh;
	margin			:0 auto;
	padding			:0.5vh 0.5vh 1vh 0.5vh;
	text-align		:left;
	line-height		:3.2vh;
	font-size		:2.2vh;
	color			:#101520;
}

.comm_p2{
	width			:53vh;
	margin			:0 auto;
	padding			:0.5vh 0.5vh 1vh 0.5vh;
	text-align		:left;
	line-height		:2.7vh;
	font-size		:1.8vh;
	color			:#101520;
}

#block_5_box_6 > .box_5_1_title, #block_5_box_6 > .comm_p2{
	opacity		:0;
	margin-top	:10vh;

}


.top_comm{
	position	:absolute;
	left		:15vh;
	top			:40vh;
	width		:66vh;
	height		:16vh;
	background	:rgba(240,240,240,0.8);
	padding		:2vh;
}

.top_title{
	font-size	:4vh;
	font-weight	:900;
	text-align	:left;
	margin		:0 0 1vh 0;
	padding		:0; 
}

.top_p{
	font-size	:2.2vh;
	text-align	:left;
	line-height	:3.5vh;
	padding		:0;
	margin		:0;
}
