@media screen and (max-width: 959px){
.pc_only{
	display		:none;
}
.sp_only{
	display		:block;
}

html {
  touch-action: manipulation;
}
a{
	text-decoration:none;
	color: initial;
}

.body{
}

header{
	position	:fixed;
	top			:0;
	left		:0;
	right		:0;
	margin		:auto;
	height		:40px;
	z-index		:10;
}

@font-face {
	font-family: at_icon;
	src: url("../z_font/nightparty_icon.ttf") format('truetype');
}

.menu{
	display			:flex;
	display			:none;
	background		:rgba(250,250,250,0.8);
	height			:36px;
	width			:500px;
	margin			:0;
	border-radius	:0 0 20px 0;
	justify-content	:center;
	border-bottom	:2px solid #fe7f9c;
	border-right	:2px solid #fe7f9c;
}

.menu_in{
	display			:block;
	width			:80px;
	flex-basis		:80px;
	height			:20px;
	line-height		:20px;
	text-align		:center;
	font-size		:14px;
	font-weight		:800;
	margin			:8px 0;
	border-right	:1px solid #d0d0d0;
}

#menu6{
	border:none;
}

.main{
}

.main_img{
	right		:auto;
	margin		:auto;
	width		:auto;
	height		:100vh;
}

.h2{
	position		:absolute;
	top				:1vw;
	left			:-1vw;
	width			:70vw;
	height			:8vw;
	line-height		:8vw;
	text-align		:left;
	background		:linear-gradient(#cc0000,#900000);	
	color			:#fafafa;
	font-size		:4vw;
	border-radius	:1vw 4vw 4vw 1vw;
	margin			:0;
	padding-left 	:1vw;
	box-shadow		:2px 2px 2px rgba(30,30,30,0.6);
}

.h2_s{
	position			:absolute;
	top					:6vh;
	left				:-2vh;
	width				:2.4vh;
	height				:3vh;
	z-index				:-1;
	background			:#101520;	
	transform-origin	:left bottom;
	transform			:rotate(20deg);
}

.box{
/*
	position	:relative;
	width		:100vw;
	margin		:0 auto;
*/

}

#block_0{
	z-index		:1;
	top			:0;
}
#block_1{
	z-index:2;
}

#block_2{
	z-index:3;
}

#block_3{
	z-index:4;
}

#block_4{
	z-index:5;
}

#block_5{
	z-index:6;
}

#block_6{
	z-index:7;
}

.box_flex{
	position			:relative;
	margin				:0 auto;
	display				:flex;
	width				:170vh;
	height				:90vh;
	padding-top			:10vh;
	background			:rgba(255,255,255,0.6);
	justify-content		:space-between;
}

.box_ab{
	width			:98vw;
	height			:95vh;
	padding-top		:5vh;
}

.box_top{
	position		:fixed;
	top				:0;
	left			:0;
	right			:0;
	margin			:auto;
	display			:block;
	width			:170vw;
	height			:100vh;
}

.box_flex_left{
	top				:10vw;
	left			:1vw;
	width			:98vw;
	height			:70vw;
	padding			:1vw;
	border			:1vw solid #60a0f0;
	border-radius	:2vw;
}

.box_flex_right{
	position		:absolute;
	top				:11vh;
	right			:-20vh;
	display			:block;
	width			:98vw;
	height			:30vw;
	padding			:1vw;
	font-size		:3.5vw;
	line-height		:5.5vw;
	text-align		:left;
	background		:#fafafa;
	border			:1vw solid #60a0f0;
	border-radius	:2vw;
	opacity			:0;
}

.box_item{
	position		:absolute;
	width			:48vw;
	padding			:0;
	height			:60vw;
	transform		:rotate(-15deg);
	opacity			:0;
	transform-origin:top right;
}

.box_item_in{
	position		:absolute;
	top				:1vw;
	left			:1vw;
	right			:1vw;
	bottom			:1vw;
	width			:44vw;
	height			:50vw;
	border			:1vw solid #60a0f0;
}


.box_item_title{
	font-size		:3.8vw;
	height			:6vw;
	line-height		:6vw;
	padding-left	:1vw;
}

.box_item_p{
	height			:48vw;
	width			:42vw;	
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:1vw;
}

.box_s{
	position		:absolute;
	bottom			:0vh;
	left			:2vh;
	font-size		:1.8vh;
	line-height		:2.5vh;
	color			:#4040600;
}

.box_item_icon{
	display			:inline-block;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:1vh;
	margin			:auto;
	font-size		:2vh;
	height			:3.5vh;
	line-height		:3.3vh;
	width			:12vh;
	background		:#a0c0ff;
	border			:0.2vh solid #ffffff;
	color			:#ffffff;
	text-align		:left;
	padding			:0 0 0 0.5vh;
}

.al{
	display		:block;
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:1vh;
	margin		:auto;

	height		:0.8vh;
	width		:0.8vh;

	border-bottom	:2px solid #ffffff;
	border-right	:2px solid #ffffff;
	transform		:rotate(-45deg);
}


#block_4 .box_flex_left, #block_4 .box_flex_right, #block_4 .box_item_in{
	border			:1vh solid #ffc0e0;
}

#block_4 .box_item_title{
	background		:#ffe8f0;
	color			:#c00000;
}


#block_4 .box_item_icon{
	background		:#ffa0c0;
}

.box_item2{
	margin			:1.5vh;
	width			:39vh;
	height			:40vh
	font-size		:2vh;
	line-height		:3vh;
	color			:#303030;	
}

.box_item2_img{
	position		:absolute;
	bottom			:1vh;
	right			:0;
	left			:0;
	margin			:auto;
	width			:38vh;
}

.box_1_0{
	margin			:4vh auto 2.5vh auto;
	width			:135vh;
	padding			:1.5vh;
	background		:linear-gradient(135deg,#fafafa,#eaeaea);
	background		:#fcfcfc;
	height			:18vh;
	line-height		:4.5vh;
	text-align		:left;
	color			:#384240;
	font-size		:2.5vh;
	border-bottom	:3px solid #c00000;
	opacity			:0;
}

.box_1_0_title{
	font-weight	:800; 
	font-size	:2.5vh;
}

.border{
	padding			:0 0.5vh;
	font-weight		:700;
	background		:linear-gradient(transparent 50%, #f0f030 50%,#f0f030 100%);
}

#box_item_1{
	left			:3vh;
}

#box_item_2{
	left			:58.5vh;
}

#box_item_3{
	left			:114vh;
}

.box_1_1{
	position		:absolute;
	top				:67vh;
	width			:53vh;
	padding			:0;
	height			:30vh;
}

.box_1_1_text{
	position		:absolute;
	top				:9.5vh;
	left			:0;
	width			:49vh;
	border			:1vh solid #FE7F9C;
	border-radius	:2vh;
	background		:#fafafa;
	height			:16vh;
	line-height		:2.7vh;
	text-align		:left;
	color			:#202020;
	font-size		:2vh;
	padding			:1vh;
	margin:0;
}

.box_1_ball{
	position		:absolute;
	width			:49vh;
	height			:9vh;
	color			:#fafafa;
}

.ball_txt{
	position		:absolute;
	bottom			:0.5vh;
	left			:0;
	display			:inline-block;
	width			:42.5vh;
	height			:7.5vh;
	line-height		:7.5vh;
	text-align		:left;
	font-size		:4.5vh;
	font-weight		:800;
	background		:#FE7F9C;
	box-shadow		:3px 3px 5px #e05070;
	border-radius	:1vh;
	overflow		:hidden;
	padding-left	:10vh;
}

.ball_icon{
	font-family		:at_icon;
	height			:8vh;
	line-height		:8vh;
	width			:8vh;
	text-align		:center;
	font-size		:7vh;
	background		:#fafafa;
	border-radius	:1vh;
	position		:absolute;
	bottom			:0.5vh;
	left			:0px;
	border			:0.5vh solid #FE7F9C;
	color			:#FE7F9C;
}

#ball1{
	left			:1vh;
	top				:-102vh;
}

#ball2{
	left			:-54.5vh;
	top				:-91vh;
}

#ball3{
	left			:-110vh;
	top				:-80vh;
}

.box_2_0{
	display			:flex;
	justify-content	:space-between;
	margin			:10vh auto 1vh auto;
	width			:160vh;
	padding			:0;
	height			:50vh;
}

.box_2_1{
	position		:relative;
	width			:46vh;
	padding			:0;
	height			:46vh;
	border			:2vh solid #e0c0f0;
	border-radius	:3vh;
	line-height		:3vh;
	text-align		:left;
	color			:#384240;
	font-size		:2.1vh;
	background		:linear-gradient(135deg,#e0e8f0,#d0d8e0);
}

.box_2_1_text{
	position		:absolute;
	bottom			:2vh;
	left			:0;
	right			:0;
	margin			:auto;	
	width			:40vh;
	padding			:0;
	height			:18vh;
	border			:1px solid #303030;
	border-radius	:5px;
	line-height		:3vh;
	text-align		:left;
	color			:#384240;
	font-size		:2vh;
	padding			:1.5vh 1vh 1vh 1.5vh;
	background		:#f0f0f0;

	box-shadow		:0.2vh 0.2vh 0.5vh rgba(30,30,30,0.4) inset;

}

.box_4_left{
	position			:relative;
	margin				:1vh auto;
	display				:flex;
	flex-wrap			:wrap;
	width				:111vh;
	flex-basis			:111vh;
	justify-content		:flex-start;
	align-items			:flex-start;
	align-content		:flex-start;
}

.box_4_right{
	position			:relative;
	margin				:1vh auto;
	flex-wrap			:wrap;
	display				:flex;
	width				:55vh;
	flex-basis			:55vh;
	justify-content		:flex-start;
	align-items			:flex-start;
	align-content		:flex-start;
}

.box_4_title{
	position		:relative;
	margin			:0 auto 1vh auto;
	width			:111vh;
	height			:6vh;
	line-height		:7vh;
	border-bottom	:0.5vh solid #202020;
	font-size		:3.5vh;
	font-weight		:700;
	color			:#101520;
	text-align		:left;
}

.box_4_title_s{
	display			:inline-block;
	margin			:0 0.5vh;
	height			:6vh;
	line-height		:9vh;
	font-size		:2vh;
	color			:#101520;
	text-align		:left;
}

.box_4_title_p{
	position		:absolute;
	bottom			:0px;
	right			:1vh;
	height			:6vh;
	line-height		:6vh;
	font-size		:4.5vh;
	font-weight		:700;
	color			:#d00000;
	text-align		:right;
}

.box_4_0_title{
	position		:relative;
	margin			:1vh auto;
	width			:110vh;
	flex-basis		:110vh;
	text-align		:left;
	font-size		:2.5vh;
	font-weight		:700;
	height			:4.5vh;
	line-height		:5.5vh;
	border-bottom	:1px solid #101010;
}


.box_4_1{
	position		:relative;
	margin			:1vh;
	width			:53vh;
	flex-basis		:53vh;
	text-align		:left;
}

.box_4_1_title{
	position		:relative;
	margin			:1vh auto 0 auto;
	width			:53vh;
	flex-basis		:53vh;
	text-align		:left;
	font-size		:2.2vh;
	font-weight		:700;
	height			:3.5vh;
	line-height		:3.5vh;
	border-bottom	:1px solid #101010;
}

.box_4_1_title_s{
	margin			:0;
	text-align		:left;
	font-size		:1.8vh;
	height			:3.5vh;
	line-height		:4vh;
}

.box_4_0_title_p{
	position		:absolute;
	right			:0.5vh;
	bottom			:0vh;
	width			:53vh;
	text-align		:right;
	font-size		:2.8vh;
	font-weight		:700;
		height		:3.5vh;
	line-height		:3.5vh;
	color			:#e00000;
}

.box_4_1_title_p{
	position		:absolute;
	right			:0.5vh;
	bottom			:0vh;
	width			:53vh;
	text-align		:right;
	font-size		:2.2vh;
	font-weight		:700;
	height			:3.5vh;
	line-height		:3.5vh;
	color			:#e00000;
}

.comm_p{
	width			:53vh;
	margin			:0 auto;
	padding			:0.5vh 0.5vh 1vh 0.5vh;
	text-align		:left;
	line-height		:2.7vh;
	font-size		:1.8vh;
	color			:#101520;
}

.top_comm{
	position	:absolute;
	left		:5vh;
	top			:40vh;
	width		:66vh;
	height		:16vh;
	background	:rgba(240,240,240,0.8);
	padding		:2vh;
}

.top_title{
	font-size	:4vh;
	font-weight	:900;
	text-align	:left;
	margin		:0 0 1vh 0;
	padding		:0; 
}

.top_p{
	font-size	:2.2vh;
	text-align	:left;
	line-height	:3.5vh;
	padding		:0;
	margin		:0;
}

}
