.customisable-highlight, .timeline-Header-byline{
	font-size	:21px !important;
	font-weight	:300 !important;
	line-height	:24px !important;
	color		:#F5F8FA !important;
}

select{
	border:1px solid #303030;
	color:#303030;
	background:#fffdef;
}

.twitter-timeline{
	width:300px !important;
	height:410px !important;
}

.timeline-Footer{
	font-size:0 !important
}


html {
  touch-action: manipulation;
}

a{
	text-decoration:none;
	color: initial;
}

.body{
	background			:#000000;
	background			:linear-gradient(90deg,#3a3830 0%, #9a9890 50%, #3a3830 100%);
	margin				:0;
	padding				:0;
	line-height			:1.2;
	color				:#333;
	font-size			:0;
	font-family			:"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align			:center;
}

.blog_icon{
	display			:inline-block;
	height			:16px;
	width			:20px;
	text-align		:center;
	font-size		:16px;
	font-family		:at_icon;
}

.head_menu{
	display:none;
}

.no_blog{
	display		:block;
	width		:90%;
	padding		:20px;
	text-align	:center;
	font-size	:18px;
	color		:#c8b880;
}


.menu{
	display			:inline-flex;
	justify-content	:space-between;	
	text-align		:center;
	width			:1200px;
	margin			:0 auto;
	font-size		:0;
	padding			:0;
}

.back_img{
	position	:fixed;
	top			:calc(100vh - 100vw);
	left		:0;
	right		:0;
	margin		:auto;
	width		:100vw;
	z-index		:-1;
}

.main{
	display			:block;
	background		:rgba(0,0,0,0.7);
	text-align		:center;
	width			:1200px;
	min-height		:calc(100vh - 380px);
	margin			:0 auto;
	padding			:170px 0 20px 0;
	font-size		:0;
	vertical-align	:top;
	z-index			:0;
}

.main_top{
	display			:inline-block;
	text-align		:center;
	width			:1200px;
	min-height		:80vh;
	margin			:0 auto;
	font-size		:0;
	vertical-align	:top;
}

.main_b_top2{
	display			:none;
}

.main_top_flex{
	display			:inline-flex;
	justify-content	:space-between;
	align-items		:flex-start;
	text-align		:center;
	width			:1200px;
	margin			:0 auto;
	font-size		:0;
}

.head{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	display			:block;
	width			:100%;
	height			:170px;
	margin			:auto;
	background		:rgba(20,18,14,0.5);
	background		:linear-gradient(#3a3a3a,#1a1a1a);
	background		:linear-gradient(#101513,#302520);
	text-align		:center;
	z-index			:120;
	padding			:0;


}

.head_b{
	display			:flex;
	height			:100px;
	width			:1200px;
	margin			:0 auto;
}

.head_logo{
	height			:100px;
	width			:300px;
	flex-basis		:300px;
}
.head_img{
	height			:100px;
	width			:300px;
}

.head_b_table{
	border-collapse	:collapse;
	margin			:10px 10px auto auto;
}

.head_in{
	display			:block;
	position		:relative;
	width			:1200px;
	height			:70px;
	margin			:0 auto;
}

.head_tel{
	display			:none;
}

.head_b_ttl{
	color			:#c8b880;
	font-size		:20px;
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	width			:100px;
	margin			:2px;
}

.head_b_1{
	color			:#888986;
	font-size		:16px;
	text-align		:right;
}

.head_b_2,.head_b_3{
	color			:#c0b078;
	font-size		:20px;
	font-weight		:600;
	height			:24px;
	text-align		:right;
}

.head_b_3{
	width			:190px;
}


.menu_item{
	display		:inline-block;
	height		:50px;
	line-height	:50px;
	width		:160px;
	flex-basis	:160px;
	background	:#252018;
	border		:1px solid #c8b880;
	margin		:10px 0;
	text-align	:center;
	overflow	:hidden;
	cursor		:pointer;
	font-family	:at_font1;
}

.menu_item a{
	color		:#c8b880;
	font-size	:22px;
	display		:inline-block;
	width		:100%;
	height		:50px;	
	line-height	:50px;
	text-align	:center;
}

.menu_item a:hover{
	background	:linear-gradient(#e0d098,#c8b880);
	color		:#fafafa;
}

.slide{
	display		:inline-block;
	position	:relative;
	width		:1200px;
	flex-basis	:1200px;
	margin		:0 auto 20px auto;
	overflow	:hidden;
}

.slide_img{
	position	:relative;
	width		:1200px;
	height		:480px;
	font-size	:0;
	overflow	:hidden;
	margin:0 auto;
}

.slide_img_cv{
	position	:absolute;
	width		:1200px;
	height		:480px;
	z-index		:10;
}

.event_img{
	width		:1200px;
	height		:480px;
	margin:0 auto 30px auto;;
}


.event_click{
	position		:absolute;
	bottom			:10px;
	right			:20px;
	width			:120px;
	height			:40px;
	line-height		:40px;
	border-radius	:25px;
	border			:5px solid #d00000;
	background		:linear-gradient(135deg,#ffffff,#e0e0e0);	
	color			:#d00000;
	font-weight		:900;
	text-align		:left;
	font-size		:22px;
	z-index			:10;
	padding-left	:20px;
}

.event_click_al{
	position		:absolute;
	top				:5px;
	right			:5px;
	height			:30px;
	width			:30px;
	border-radius	:15px;
	background		:#d00000;	
}


.event_click_al_in{
	position		:absolute;
	top				:7px;
	right			:9px;
	height			:10px;
	width			:10px;
	border-top		:5px solid #fafafa;
	border-right	:5px solid #fafafa;
	transform-origin:center;
	transform		:rotate(45deg);
}

.top_img{
	position		:absolute;
	display			:block;
	top				:0;
	left			:1200px;
	width			:1200px;
	height			:480px;
}

.top_img_in{
	width			:1200px;
	height			:480px;
}

.slide_point{
	display			:inline-flex;
	justify-content	:space-evenly;
	height			:40px;
	line-height		:40px;
	background		:#303538;
	margin			:20px;
	border-radius	:10px;
	text-align		:center;
	border			:2px solid #c8b880;
	padding			:0 20px;
}

.slide_dot{
	display			:inline-block;
	width			:16px;
	height			:16px;
	background		:#fafafa;
	border-radius	:8px;
	margin			:12px 20px;
}


.info_box{
	width	:300px;
	margin	:0 auto 10px auto;
	display	:block;
}


.info_img_out{
	display			:inline-block;
	position		:relative;
	width			:300px;
	height			:105px;
	overflow		:hidden;
}

.info_img{
	width			:300px;
	height			:100px;
	margin-bottom	:5px;
}

.info_img_out:before{
	content		:"";
	position	:absolute;
	top			:-60px;
	left		:-350px;
	width		:280px;
	height		:420px;
	transform	:rotate(20deg);
	background	:linear-gradient(90deg,rgba(255, 255, 240, 0.1),rgba(255, 255, 240,0.4) 80%,rgba(255, 255, 240,0.2) 100%);
}

.info_img_out:hover:before{
	animation: e_shine .3s cubic-bezier(.11,.7,.49,.94) 0s;
}



.dot_on{
	background		:#faf0a0;
	box-shadow:0px 0px 5px 5px rgba(250,250,220,0.7) ;
}

.cast_tag{
	display			:inline-flex;
	width			:1180px;
	text-align		:left;
	height			:40px;
	overflow		:hidden;
}

.news_tag_list{
	display			:block;
	width			:300px;
	flex-basis		:300px;
	text-align		:center;
	height			:40px;
	line-height		:40px;
	background		:#201510;
	font-size		:18px;
	border-bottom	:1px solid #c8b880;
	cursor			:pointer;
	color			:#c8b880;
}

.news_main_b_year{
	width:100%;
	text-align:right;
}

.cast_tag_box{
	display			:inline-block;
	position		:relative;
	width			:150px;
	flex-basis		:150px;
	height			:40px;
	line-height		:40px;
	margin			:0;
	background		:#302520;
	text-align		:left;
	font-size		:16px;
	border-radius	:0 25px 0 0;
	font-weight		:700;
	color			:#c8b880;
	border			:2px solid #c8b880;
	padding-left	:5px;
	cursor			:pointer;
	color			:#c8b880;
}

.cast_tag_box_sel{
	background		:#c8b880;
	font-weight		:600;
	color			:#483800;
	text-shadow		:1px 1px 0 #ffffff;
}

.tag_sp{
	display			:none;
}


.main_b{
	display			:inline-block;
	width			:870px;
	margin			:0 10px;
	vertical-align	:top;
}

.main_b_top{
	display			:inline-block;
	width			:868px;
	margin			:0 auto 20px auto;
	background		:#302520;
	border-radius	:0 0 10px 10px;
	padding-bottom	:10px;
	border			:1px solid #c8b880;
	overflow		:hidden;
}

.main_b_notice{
	position		:relative;
	width			:850px;
	height			:50px;
	text-align		:left;
	border-bottom	:1px dashed #fafafa;
	margin			:0 auto;
}

.main_b_notice_date{
	position		:absolute;
	top				:0;
	bottom			:0;
	margin			:auto;

	left			:5px;
	display			:inline-block;
	width			:100px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	font-size		:15px;
	color			:#fafafa;
}

.main_b_notice_tag{
	display			:block;
	position		:absolute;
	top				:0;
	bottom			:0;
	margin			:auto;

	left			:110px;
	width			:100px;
	height			:24px;
	line-height		:24px;
	text-align		:center;
	background		:#c8b880;
	font-size		:13px;
	color			:#302520;
}

.main_b_notice_title{
	display			:inline-block;
	font-size		:15px;
	color			:#fafafa;
	height:100%;
}

.main_b_notice_arrow{
	display			:inline-block;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:15px;
	margin			:auto;
	width			:10px;
	height			:10px;
	text-decoration	:none;

	border-top		:3px solid #c8b880;
	border-right	:3px solid #c8b880;
	transform		:rotate(45deg);
	transform-origin:center;
}


.main_b_notice_link,.main_b_notice_alink{
	display			:inline-block;
	width			:100%;
	height:100%;
	text-decoration	:none;
}

.main_b_notice_link:hover{
	text-decoration: underline #c8b880;
}

.main_b_td_1{
	width			:220px;
	text-align		:center;
}

.main_b_td_2{
	text-align		:left;

}
.main_b_td_3{
	width			:40px;
	text-align		:center;

}


.main_b_in{
	display			:inline-block;
	width			:858px;
	text-align		:left;
	border			:1px solid #c8b880;
	background		:#302520;
	vertical-align	:top;
	padding			:5px;
}

.main_b_all{
	display			:inline-block;
	width			:1020px;
	background		:#302520;
	text-align		:left;
	min-height		:90vh;
}
.prof{
	margin			:0 auto 10px auto;
	width			:500px;
	border-spacing: 0 5px;
}

.blog_cast_name{
	width			:858px;
	height			:40px;
	line-height		:40px;
	background		:linear-gradient(#c8b880 0%, #e0d098 50% , #c8b880 100%);
	font-size		:18px;
	font-weight		:600;
	padding-left	:10px;
	text-align		:left;
	border			:1px solid #c8b880;
	border-radius	:5px 5px 0 0;
	color			:#483800;
	text-shadow		:1px 1px 0 #ffffff;	

}

.main_b_title,
.main_b_title_l,
.twitter_title,
.sche_title,
.blog_title,
.prof_title,
.recruit_contact_title,

.check_title{

	position			:relative;
	display				:inline-block;
	height				:40px;
	line-height			:40px;
	background			:linear-gradient(#c8b880 0%, #e0d098 50% , #c8b880 100%);
	font-size			:18px;
	font-weight			:600;
	padding-left		:10px;
	text-align			:left;

	margin				:0 auto;
	border-radius		:5px 5px 0 0;
	color				:#483800;
	text-shadow			:1px 1px 0 #ffffff;	
}

.twitter_title{
	width			:302px;
	text-align		:center;
	padding			:0;
}

.prof_title{
	font-family		:at_font1;
	width			:490px;
}

.check_title{
	width			:490px;

}

.main_b_title{
	width			:860px;
}

.main_b_title_l{
	width			:600px;
}

.sche_title{
	margin-top		:20px;
	margin-left		:0;
	width			:410px;
	font-family		: at_font1;
}

.blog_title{
	width			:292px;
	font-family		:at_font1;
}

.news_all{
	position		:absolute;
	top				:0px;
	bottom			:0px;
	right			:30px;
	font-size		:20px;
	color			:#483800;
	margin			:auto;
}

.main_b_1_ribbon{
	position		:absolute;
	display			:inline-block;
	left			:-50px;
	top				:25px;
	width			:150px;
	height			:30px;
	line-height		:30px;
	font-size		:16px;
	font-weight		:600;
	text-align		:center;
	color			:#fafafa;
	border			:1px solid #fafafa;
	transform		:rotate(-45deg);
	transform-origin:top center;
	text-shadow		:-1px -1px #000000;
}

.ribbon1{
	background		:linear-gradient(#b0b8bf,#80888f);
	box-shadow		:0 -5px 0 #b0b8bf,0 5px 0 #80888f;
	text-shadow		:-1px -1px #40484f;
}

.ribbon2{
	background		:linear-gradient(#90e090,#309030);
	box-shadow		:0 -5px 0 #90e090,0 5px 0 #309030;
	text-shadow		:-1px -1px #006000;

}

.ribbon3{
	background		:linear-gradient(#ff3030,#a00000);
	box-shadow		:0 -5px 0 #ff3030,0 5px 0 #a00000;
	text-shadow		:-1px -1px #800000;
}


.main_b_1{
	position		:relative;
	display			:inline-block;
	width			:198px;	
	height			:330px;
	background		:linear-gradient(135deg,#d8c890 0%, #e0d098 50% , #c8b880 100%);
	margin			:6px;
	border-top		:2px solid #f8e8b0;
	border-left		:2px solid #f8e8b0;
	border-right	:2px solid #483800;
	border-bottom	:2px solid #483800;
	overflow		:hidden;	
}


.main_b_1_0{
	position		:absolute;
	top				:0;
	left			:0;
	display			:inline-block;
	width			:198px;	
	height			:330px;
	opacity			:0;
}





.main_b_1_1{
	position	:absolute;
	top			:9px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:180px;
	height		:240px;
	border-top		:2px solid #483800;
	border-left		:2px solid #483800;
	border-right	:2px solid #f8e8b0;
	border-bottom	:2px solid #f8e8b0;
	background-repeat:no-repeat;
	background-size:contain;

}

.main_b_1_2{
	position	:absolute;
	display		:inline-block;
	top			:261px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:170px;
	height		:50px;
	text-align	:center;
	background	:linear-gradient(135deg,#FAEDDB,#cabdab);
	padding:5px;
	border-top		:2px solid #483800;
	border-left		:2px solid #483800;
	border-right	:2px solid #f8e8b0;
	border-bottom	:2px solid #f8e8b0;

}

.main_b_1_2_name{
	display		:inline-block;
	width		:150px;
	height		:20px;
	line-height	:20px;
	color		:#483800;
	font-size	:20px;
	margin		:3px auto 10px auto;
	font-weight	:600;
	text-align	:center;
}

.main_b_1_2_sch{
	display		:inline-block;
	width		:150px;
	height		:16px;
	line-height	:16px;
	color		:#483800;
	font-size	:14px;
	text-align:center;
}

.main_b_1_2_f{
	display		:inline-block;
	position	:absolute;
	font-size	:20px;
	color		:#302520;
	color		:#483800;
	font-family	:at_frame;
	transform-origin: center;
}

.f_tr{
	top		:0;
	right	:2px;
	transform		:rotate(0deg);
}

.f_tl{
	top		:0;
	left	:2px;	
	transform: rotatey(180deg);
}

.f_bl{
	bottom	:0;
	left	:2px;
	transform: rotatex(180deg)  rotatey(180deg);
}

.f_br{
	bottom	:0;
	right	:2px;
	transform: rotatex(180deg);
}



.c_tr{
	top		:-9px;
	right	:-3px;
	transform		:rotate(0deg);
}

.c_tl{
	top		:-9px;
	left	:-3px;	
	transform: rotatey(180deg);
}

.c_bl{
	bottom	:-9px;
	left	:-3px;
	transform: rotatex(180deg)  rotatey(180deg);
}

.c_br{
	bottom	:-9px;
	right	:-3px;
	transform: rotatex(180deg);
}

.main_b_1_2_h{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:52px;
	width			:130px;
	border-top		:1px solid #302520;
	border-bottom	:1px solid #302520;
}

.main_b_1_on{
	position	:absolute;
	top			:-50px;
	left		:-150px;
	width		:80px;
	height		:400px;
	transform	:rotate(20deg);
	background	:linear-gradient(90deg,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 1));
}


.sub_blog{
	display			:flex;
	flex-wrap		:wrap;
	justify-content	:space-between;
	width			:302px;
	margin			:0;
	text-align		:right
}

.sub_blog_pack_a,.sub_blog_pack_b{
	display			:flex;
	flex-wrap		:wrap;
	align-content	:flex-start;
	width			:302px;
	flex-basis		:302px;
}


.sub_blog_in{
	display			:inline-block;
	width			:300px;
	background		:#302520;
	padding			:0;
	text-align		:center;
	border-spacing	:0 2px;
	border			:1px solid #c8b880;
}

.sub_blog_cast{
	display		:inline-flex;
	flex-wrap	:wrap;
	width		:300px;
	background	:#302520;
	margin-bottom:30px;
	padding		:0;
	text-align	:center;
	border-spacing:0 2px;
	border		:1px solid #c8b880;
}

.main_c{
	display		:inline-block;
	width		:300px;
	margin		:0 10px auto 0;
	padding		:0;
	text-align	:center;
}

.main_c_1{
	display		:inline-block;
	width		:300px;
	background	:#fafafa;
	margin		:5px auto;
	padding		:0;
	border-bottom:2px solid #9060ff;
	font-size	:14px;
	text-align	:left;
	box-shadow	:5px 5px 10px 10px rgba(200,200,200,0.4) inset,-5px -5px 10px 10px rgba(200,200,200,0.4) inset;
	color		:#606060;
}
/*
.main_c_1{
	position	:absolute;
	display		:inline-block;
	width		:100%;
	height		:100%;
	background	:#ffffff;
	overflow	:hidden;	
	opacity		:0;
}
*/


.main_c_1:hover{
    animation-name: effect;
    animation-duration: 5s;
}

@keyframes effect{
	30% {
		opacity: .5;	
	}
	100% {
		left: -60%;
		opacity: 0.1;
	}
}



.main_d{
	display			:inline-block;
	width			:1160px;
	min-height		:90vh;
	border			:1px solid #c8b880;
	text-align		:left;
	background		:#302520;
	margin			:0 auto;
	vertical-align	:top;
	padding			:9px;
}

.main_d_1{
	position		:relative;
	display			:inline-block;
	width			:212px;	
	height			:350px;
	background		:linear-gradient(135deg,#d8c890 0%, #e0d098 50% , #c8b880 100%);
	margin			:8px;
	border-top		:2px solid #f8e8b0;
	border-left		:2px solid #f8e8b0;
	border-right	:2px solid #483800;
	border-bottom	:2px solid #483800;
	overflow		:hidden;

}

.main_b_1:before,.main_d_1:before{
	content		:"";
	position	:absolute;
	top			:-40px;
	left		:-150px;
	width		:80px;
	height		:420px;
	transform	:rotate(20deg);
	background	:linear-gradient(90deg,rgba(255, 255, 240, 0.1),rgba(255, 255, 240, 1));
}

.main_b_1:hover:before,.main_d_1:hover:before{
	animation: e_shine .3s linear 0s;
}


@keyframes e_shine {
	0% {left:-150px;}
	100% {left:280px;}
}


.main_d_1_1{
	display			:inline-block;
	width			:192px;
	height			:256px;
	position		:absolute;
	top				:10px;
	left			:0;
	right			:0;
	margin			:auto;
	border-top		:2px solid #483800;
	border-left		:2px solid #483800;
	border-right	:2px solid #f8e8b0;
	border-bottom	:2px solid #f8e8b0;
	background-repeat:no-repeat;
	background-size:contain;
}


.main_d_1_2{
	position	:absolute;
	display		:inline-block;
	top			:275px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:182px;
	height		:50px;
	text-align	:center;
	background	:linear-gradient(135deg,#FAEDDB,#cabdab);
	padding:5px;
	border-top		:2px solid #483800;
	border-left		:2px solid #483800;
	border-right	:2px solid #f8e8b0;
	border-bottom	:2px solid #f8e8b0;
}


.main_d_1_2_name{
	display		:inline-block;
	width		:150px;
	height		:30px;
	line-height	:30px;
	color		:#483800;
	font-size	:20px;
	margin:0 auto 3px auto;
	font-weight:600;
	text-align:center;
}


.main_d_1_2_sch{
	display		:inline-block;
	width		:150px;
	height		:16px;
	line-height	:16px;
	color		:#483800;
	font-size	:15px;
	text-align	:center;
}

.main_e{
	position		:relative;
	display			:inline-block;
	width			:1160px;
	border			:2px solid #c8b880;
	text-align		:center;
	background		:#302520;
	margin			:10px auto;
}

.main_e_in{
	display			:inline-block;
	position		:relative;
	width			:1068px;
	margin			:5px auto;
	border			:1px solid #c8b880;
	padding			:40px;
	text-align		:center;
	min-height		:100px;
}

.corner{
	display			:inline-block;
	position		:absolute;
	width			:20px;
	height			:20px;
	background		:#22211D;
}


.corner_in{
	display			:inline-block;
	position		:absolute;
	width			:20px;
	height			:20px;
	background		:#302520;
}

.main_e_f{
	display		:inline-block;
	position	:absolute;
	font-size	:70px;
	color		:#685820;
	color		:#c8b880;
	font-family	:at_frame;
	width		:70px;
	height		:70px;
	text-align	:center;
}



.box_1{
	top				:-2px;
	left			:-2px;
	border-bottom	:2px solid #c8b880;
	border-right	:2px solid #c8b880;
	border-radius	:0 0 22px 0;
}

.box_2{
	top				:-2px;
	right			:-2px;
	border-top		:none;
	border-left		:2px solid #c8b880;
	border-bottom	:2px solid #c8b880;
	border-radius	:0 0 0 22px;
}

.box_3{
	bottom			:-2px;
	right			:-2px;
	border-top		:2px solid #c8b880;
	border-left		:2px solid #c8b880;
	border-radius	:22px 0 0 0;
}

.box_4{
	bottom			:-2px;
	left			:-2px;
	border-top		:2px solid #c8b880;
	border-right	:2px solid #c8b880;
	border-radius	:0 22px 0 0;
}


.box_in_1{
	top				:-1px;
	left			:-1px;
	border-bottom	:1px solid #c8b880;
	border-right	:1px solid #c8b880;
	border-radius	:0 0 21px 0;
}

.box_in_2{
	top				:-1px;
	right			:-1px;
	border-bottom	:1px solid #c8b880;
	border-left		:1px solid #c8b880;
	border-radius	:0 0 0 21px;
}

.box_in_3{
	bottom			:-1px;
	right			:-1px;
	border-top		:1px solid #c8b880;
	border-left		:1px solid #c8b880;
	border-radius	:21px 0 0 0;
}

.box_in_4{
	bottom			:-1px;
	left			:-1px;
	border-top		:1px solid #c8b880;
	border-right	:1px solid #c8b880;
	border-radius	:0 21px 0 0;
}

.main_article{
	display			:inline-block;
	width			:866px;
	text-align		:left;
	border			:1px solid #c8b880;
	background		:#302520;
	vertical-align	:top;
	padding			:2px;
}

.main_blog_title{
	display			:inline-block;
	width			:860px;
	height			:35px;
	line-height		:35px;
	background		:#c8b880;
	margin			:0 auto;
	font-size		:20px;
	font-weight		:600;
	padding-left	:10px;
	text-align		:left;
	border			:1px solid #c8b880;
	color			:#483800;
	text-shadow	:1px 1px 0 #ffffff;
	border-radius		:10px 10px 0 0;
}

.foot{
	display		:block;
	position	:relative;
	width		:100%;
	margin		:0 auto;
	border-top	:5px solid #302520;
	background	:linear-gradient(#302520,#101513);
	text-align	:center;
}



.foot_in{
	display		:block;
	width		:1200px;
	margin		:0 auto;
	font-size	:0;
	padding-bottom:20px;
}

.foot_a{
	display		:inline-block;
	margin		:10px auto;
	font-size	:0;
	text-align	:center;
	border-left:1px solid #c8c0b0;

}

.foot_a_in{
	display			:inline-block;
	text-align		:center;
	font-size		:18px;
	color			:#c8c0b0;
	padding			:2px 15px;
	border-right	:1px solid #c8c0b0;
}

.foot_b{
	display		:block;
	width		:450px;
	margin		:5px auto;
	font-size	:0;
	text-align	:right;
}

.foot_c_in{
	display		:inline-block;
	height		:20px;
	line-height	:20px;
	text-align	:center;
	font-size	:16px;
	color		:#888986;
	text-align	:right;
	padding		: 0 5px;
}

.signet{
	display		:block;
	width		:100%;
	height		:40px;
	line-height	:40px;
	margin		:0 auto;
	text-align	:center;
	color		:#888986;
	font-size	:13px;
	border-top	:1px solid #585956;	
}

.foot_logo{
	width		:450px;
	margin		:10px auto;
}

.to_top{
	display			:none;
	position		:fixed;
	bottom			:10px;
	right			:10px;
	height			:50px;
	width			:50px;
	background		:rgba(200,184,128,0.8);
	border-radius	:5px;
	cursor			:pointer;
}
.to_top_in, .to_top_in2{
	display			:block;
	position		:absolute;
	bottom			:0px;
	right			:0;
	left			:0;
	height			:20px;
	width			:20px;
	border-top		:5px solid #101510;
	border-right	:5px solid #101510;
	transform-origin:center;
	transform		:rotate(-45deg);
	margin			:auto;
}

.to_top_in2{
	bottom			:13px;
}


.access_table{
	display			:flex;
	justify-content	:space-between;
	width			:1000px;
	margin			:5px auto;
	height			:420px;
	position		:relative;
	margin-bottom	:10px;
}

.access_map{
	flex-basis	:650px;
	height		:400px;
	background	:#fafafa;
	color		:#303030;
}

.access_map_in{
	width		:650px;
	height		:400px;
}


.access_sig{
	display			:inline-block;
	flex-basis		:400px;
	font-size		:0;
	text-align		:center;
	border-radius	:10px;
	margin-left:20px;
}


.access_h1{
	font-size	:24px;
	font-weight	:800;
	display		:block;
	width		:340px;
	height		:40px;
	line-height	:40px;
	padding		:0;
	text-align	:left;
	color		:#c8c0b0;
	margin:5px auto 20px auto;
	border-bottom: 2px dotted #c8c0b0;
}

.access_tag{
	font-size	:18px;
	font-weight	:800;
	width		:340px;
	height		:24px;
	line-height	:20px;
	padding		:0;
	text-align	:left;
	color		:#c8c0b0;
	border-bottom: 1px solid #c8c0b0;
	margin		:20px auto 5px auto;
}

.access_box{
	font-size		:16px;
	line-height		:22px;
	width			:340px;
	padding			:0;
	text-align		:left;
	color			:#c8c0b0;
	margin-bottom	:10px;
	margin			:5px auto;
}



.sys_box_ttl{
    display			:block;
	font-size		:24px;
	width			:1000px;
	height			:30px;
	line-height		:30px;
	margin			:10px auto;
	font-weight		:800;
	color			:#c8c0b0;
	text-shadow		:1px 1px 0px rgba(10,10,10,1);
	padding			:5px 10px;
	border-bottom	:double 2px #c8c0b0;
	text-align:left;
}

.sys_box_log{
	margin			:0 auto 30px auto;
 	width			:990px;
    display			:flex;
    display			:block;
	flex-wrap		:wrap;
	color			:#c8c0b0;
	font-size		:18px;
	line-height		:32px;
	text-align		:left;
}

.no_info{
	display			:block;
	height			:100px;
	line-height		:100px;
	text-align		:center;
	margin			:0 auto;
	font-size		:18px;
	color			:#c8c0b0;
}

.system_title{
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	font-size		:20px;
	font-weight		:800;
	flex-basis		:780px;
	text-align		:left;
	border-left		:10px solid #c8c0b0;
	padding-left	:5px;
}

.system_box{
	display			:block;
	margin			:0 auto 30px auto;
	width			:780px;
	flex-basis		:780px;
	text-align		:left;
	padding			:10px;
	text-align		:left;
}

.system_box_1{
	display			:inline-block;
	width			:200px;
	height			:30px;
	line-height		:30px;
	font-size		:18px;
}

.system_box_2{
	display			:inline-block;
	width			:80px;
	height			:30px;
	line-height		:30px;
	font-size		:18px;
	text-align		:right;
}

.system_box_3{
	display			:inline-block;
	width			:200px;
	height			:30px;
	line-height		:30px;
	font-size		:18px;
	text-align		:right;
}

.footmark{
	display			:flex;
	height			:35px;
	width			:1160px;
	margin			:0 auto 5px auto;
	text-align		:left;
	align-items		:flex-end;
}

.footmark_box{
	display			:inline-block;
	height			:25px;
	min-width		:80px;
	margin			:5px 3px;	
	text-align		:left;
	cursor			:pointer;
	overflow		:hidden;
}

.box_a{
	text-decoration	:none;
	border-bottom	:1px solid #c8b880;
}

.footmark_icon{
	display		:inline-block;
	width		:25px;
	height		:25px;
	line-height	:25px;
	text-align	:center;
	font-size	:15px;
	font-family	:at_icon;
	color		:#c8b880;
	vertical-align:middle;
}

.footmark_text{
	display			:inline-block;
	height			:25px;
	line-height		:25px;
	text-align		:left;
	font-size		:15px;
	color			:#c8b880;
	max-width		:500px;
	overflow		:hidden;
	vertical-align	:middle;
}

.blog_list{
	display			:inline-block;
	position		:relative;
	width			:426px;
	height			:110px;
	font-size		:0;
	margin			:2px;
	text-align		:left;
	text-decoration	:none;
	background		:#302520;
	border			:1px solid #c8b880;

}

.blog_list_img{
	position		:absolute;
	top				:4px;
	left			:4px;
	width			:100px;
	height			:100px;
	border			:1px solid #303030;
}

.blog_list_comm{
	position:absolute;
}

.blog_list_title{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	left			:120px;
	width			:290px;
	height			:50px;
	line-height		:24px;
	margin			:0 auto;
	text-align		:left;
	font-size		:17px;
	font-weight		:700;
	vertical-align	:top;
	overflow		:hidden;
	color			:#C8b880;
}

.blog_list_tag{
	display			:inline-block;
	position		:absolute;
	bottom			:5px;
	left			:0;
	height			:24px;
	padding			:0 5px;
	width			:108px;
	background		:#c8c0b0;
	text-align		:right;
	color			:#302520;
	border-radius	:5px;
	text-align		:left;
}

.blog_list_icon{
	display			:inline-block;
	height			:24px;
	line-height		:24px;
	width			:18px;
	text-align		:center;
	font-size		:16px;
	font-family		:at_icon;
	vertical-align	:middle;
}

.blog_list_tcomm{
	display			:inline-block;
	height			:24px;
	line-height		:24px;
	text-align		:left;
	font-size		:14px;
	vertical-align	:middle;
}


.blog_list_cast{
	display			:inline-block;
	position		:absolute;
	bottom			:2px;
	right			:2px;
	width			:310px;
	height			:55px;
	margin			:0 auto;
	text-align		:left;
	font-size		:0;
	border-radius	:25px 0 0 0;
}


.blog_list_castimg{
	position	:absolute;
	left		:0;
	top			:0;
	right		:0;
	margin		:auto;
	width		:50px;
}

.blog_list_frame_a{
	position	:absolute;
	right		:5px;
	bottom		:5px;
	width		:50px;
	height		:50px;
	overflow	:hidden;
	border-radius:50%;
	background:#ff80a0;
	border:2px solid #c8b880;
}


.blog_list_date{
	position	:absolute;
	right		:65px;
	bottom		:5px;
	font-size	:13px;
	text-align	:right;
	color		:#e0e0e0;
}

.blog_list_castname{
	position	:absolute;
	right		:65px;
	bottom		:25px;
	font-size	:16px;
	text-align	:right;
	color		:#e0e0e0;
}

.blog_h1{
	display			:inline-block;
	width			:290px;
	height			:35px;
	line-height		:35px;
	background		:#c8b880;
	margin			:0px auto;
	text-align		:left;
	font-size		:20px;
	font-weight		:600;
	color			:#483800;
	text-shadow		:1px 1px 0 #ffffff;
	padding-left	:10px;
}


.all_cast{
	position		:relative;
	display			:inline-block;
	width			:300px;
	height			:60px;
	line-height		:60px;
	font-size		:0;
	border-bottom	:solid 1px #c8b880;
}

.all_cast:last-child{
	border:none;
}


.all_cast_name{
	position		:absolute;
	bottom			:5px;
	left			:65px;
	color			:#e8d8a0;
	width			:230px;
	height			:25px;
	line-height		:25px;
	font-size		:18px;
	text-align		:left;
}

.all_cast_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:50px;
	height			:50px;
	overflow:hidden;
}

.all_cast_img_in{
	width			:100%;
}

.all_cast_icon{
	position		:absolute;
	top				:5px;
	left			:65px;
	color			:#c8b880;
	width			:20px;
	height			:15px;
	line-height		:15px;
	font-size		:13px;
	text-align		:center;
	font-family:at_icon;
}

.all_cast_last{
	display			:inline-block;
	position		:absolute;
	top				:7px;
	left			:65px;
	color			:#e0e0e0;
	width			:160px;
	height			:15px;
	line-height		:15px;
	font-size		:13px;
	text-align		:left;
}

.all_cast_count{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	right			:5px;

	width			:40px;
	height			:20px;
	line-height		:20px;
	font-size		:13px;
	font-weight		:600;
	text-align		:right;
	color			:#302520;
	background		:#c8b880;
	border-radius	:5px;
	padding-right	:5px;
}

.all_tag{
	display			:inline-flex;
	width			:300px;
	height			:40px;
	line-height		:40px;
	font-size		:0;
	border-bottom	:1px solid #c8b880;
	color			:#c8b880;
}

.all_tag:last-child{
	border:none;
}

.all_tag_name{
	display			:inline-block;
	color			:#c8b880;
	flex-basis		:200px;
	height			:40px;
	line-height		:40px;
	font-size		:16px;
	font-weight		:500;
	text-align		:left;
	vertical-align	:top;
	margin:0 5px;
}

.all_tag_icon{
	display			:inline-block;
	width			:40px;
	flex-basis		:40px;
	height			:40px;
	line-height		:40px;
	font-size		:24px;
	font-family		:at_icon;	
	text-align		:center;
}

.all_tag_count{
	display			:inline-block;
	width			:40px;
	flex-basis		:40px;
	height			:24px;
	line-height		:24px;
	font-size		:14px;
	font-weight		:600;
	text-align		:right;
	vertical-align	:top;
	color			:#302520;
	background		:#c8b880;
	border-radius	:5px;
	margin			:8px 0 ;
	padding-right	:5px;
}


.icon{
		font-family		:at_icon;

}

.blog_ttl_border{
	display		:block;
	width		:820px;
	height		:3px;
	background	:linear-gradient(90deg,#ffffe0,#c8b880,#ffffe0);
	margin		:5px 10px 20px 10px;
}


.blog_ttl{
	display		:block;
	text-align	:left;
	max-height	:68px;
	line-height	:34px;
	font-size	:24px;
	font-weight	:500;
	color		:#c8c0b0;
	overflow	:hidden;
	width		:830px;
	margin		:10px 10px 30px 10px;
}

.blog_ttl_btm{
	display		:inline-block;
	position	:relative;
	width		:810px;
	height		:30px;
	margin: 0 20px;
}

.blog_ttl_tag{
	display			:inline-block;
	position		:absolute;

	width			:115px;
	height			:24px;
	line-height		:24px;
	font-size		:12px;
	text-align		:left;
	color			:#252015;
	padding-left	:5px;
	border-radius	:5px;
	background		:#c8c0b0;
	bottom			:3px;
	left			:0;
	height			:24px;
}


.blog_ttl_date{
	display		:inline-block;
	position	:absolute;
	bottom		:0;
	right		:0;
	width		:200px;
	height		:25px;
	line-height	:25px;
	font-size	:16px;
	color		:#c8c0b0;
	text-align:right;
}

.blog_top_img{
	text-align:center;
}

.blog_log{
	display		:block;
	width		:800px;
	min-height	:500px;
	font-size	:18px;
	color		:#c8c0b0;
	text-align	:left;
	margin		:0 auto 20px auto;
	line-height	:30px;
}

.blog_img{
	margin:10px auto;
	width:300px;
	border:2px solid #fafafa;
	text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

.blog_calendar_out{
	display			:inline-block;
	width			:302px;
	margin			:0 0 20px auto;
}

.blog_calendar{
	width			:302px;
	border-collapse	:collapse;
	table-layout	:fixed;
	background		:#fafafa;
	background		:#302520;
	margin			:0;
	border-radius	:10px 10px 0 0;
}

.blog_calendar_m{
	text-align		:center;
	height			:35px;
	line-height		:35px;
	font-size		:20px;
	border			:1px solid #c8b880;
	background		:#c8b880;
	color			:#786820;
	font-size		:20px;
	font-weight		:600;
	color			:#483800;
	text-shadow		:1px 1px 0 #ffffff;
}


.blog_calendar_n{
	text-align		:center;
	height			:35px;
	line-height		:35px;
	font-size		:30px;
	border			:1px solid #c8b880;
	background		:#c8b880;
	font-weight		:600;
	color			:#483800;
	text-shadow		:1px 1px 0 #ffffff;
	font-family		:at_icon;
	cursor			:pointer;
}

.carendar_pn{
	color			:#786820;
}

.blog_calendar_w{
	text-align		:center;
	border			:1px solid #c8b880;
	height			:30px;
	line-height		:30px;
	font-size		:20px;
	color			:#c8b880;
}

.blog_calendar_d{
	position		:relative;
	text-align		:center;
	border			:1px solid #c8b880;
	height			:40px;
	line-height		:40px;
}
.cal,.cal1{
	display			:inline-block;
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:30px;
	line-height		:30px;
	width			:30px;
	font-size		:16px;
	color			:#c8b880;
	text-align		:center;
	font-weight		:600;
}

.cal1{
	border-radius	:15px;
	background		:#c8b880;
	color			:#302520;
	cursor			:pointer;
}


.page_box{
	display			:inline-block;
	width			:870px;
	text-align		:center;
	height			:50px;
	line-height		:50px;
	margin			:10px auto 10px 0;;
	color			:#c8b880;
	overflow		:hidden;
	font-size		:0;
	border			:1px solid #e8d8a0;
	background		:#302520;

}

.page_n{
	display		:inline-block;
	text-align	:center;
	width		:30px;
	height		:30px;
	line-height	:30px;
	text-align	:center;
	margin		:8px auto ;
	border		:1px solid #e8d8a0;
	background	:#302520;
	font-size	:15px;
	cursor		:pointer;
	color		:#e8d8a0;
}

.page_n:hover{
	background	:#807570;
	color		:#302520;
}

.pg_f{
	border-radius:5px 0 0 5px ;
}

.pg_b{
	border-radius:0 5px 5px 0;
}

.pg_n{
	background	:#e8d8a0;
	color		:#302520;
}

.blog_cast_left{
	display		:inline-block;
	width		:300px;
	flex-basis	:300px;
}


.blog_cast_right{
	display		:inline-block;
	border-spacing: 0 2px;
	width		:270px;
	flex-basis	:270px;
	margin		:0 auto 15px auto;
}


.blog_cast_img{
	width		:270px;
	margin		:15px 15px 5px 15px;
}

.blog_cast_link{
	display			:inline-block;
	width			:270px;
	height			:40px;
	line-height		:40px;
	margin			:5px 15px 15px 15px;
	background		:linear-gradient(#e0d098,#c8b880);
	font-size		:22px;
	font-weight		:600;
	color			:#483800;
	font-family		:at_font1;
	text-shadow		:1px 1px 0 #ffffff;
}

.rec{
	margin		:0 auto;
	display		:flex;
	width		:900px;
	border		:1px solid #a89860;
}

.rec_img{
	width:1200px;
	margin:0 auto 10px auto;
}

.rec_l{
	display		:inline-block;
	text-align	:left;
	flex-basis	:200px;
	background	:#e8d8a0;
	color		:#302000;
	font-size	:18px;
	padding		:10px;
	line-height	:30px;
	font-weight	:600;
}

.rec_r{
	display		:inline-block;
	text-align	:left;
	flex		:1;
	color		:#c8c0b0;
	background	:#302520;
	font-size	:18px;
	padding		:10px;
	line-height	:30px;
}


.person_main{
	display			:flex;
	justify-content	:space-between;
	width			:1200px;
	margin			:0 auto;
	text-align		:center;
	font-size		:0;

}

.person_err{
	display		:inline-block;
	position	:relative;
	flex		:1;
	min-height	:600px;	
	font-size	:18px;
	text-align	:center;
	margin		:50px auto;
	border		:1px solid #c8b880;
	background	:#252018;
	color		:#c8b880;
}


.person_left{
	display			:flex;
	justify-content	:space-between;
	align-content	:flex-start;
 	flex-wrap		:wrap;
	position		:relative;
	width			:360px;
	flex-basis		:360px;
	text-align		:center;
}

.person_middle{
	font-size		:0;
	display			:block;
	position		:relative;
	flex-basis		:500px;
	text-align		:left;
}

.person_right{
	display			:block;
	position		:relative;
	flex-basis		:300px;
	text-align		:center;
}

.person_blog,.cast_blog{
	margin			:0 auto;
	display			:block;
	position		:relative;
	width			:300px;
	height			:90px;	
	border-bottom	:2px solid #000000;
	color			:#C8B880;
	background		:#302520;
}

.person_blog:last-child{
	border:none;
}

.person_left_blog{
	display:none;
}

.person_blog_no{
	display			:inline-block;
	position		:relative;
	width			:300px;
	height			:90px;	
	line-height		:90px;	
	border-bottom	:1px solid #C8B880;
	color			:#C8B880;
	background		:#323232;
	font-size		:16px;	
}

.person_blog_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:80px;
	height			:80px;	
	background		:#e0e0e0;
}

.person_blog_date{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	left			:90px;
	width			:100px;
	height			:24px;
	line-height		:24px;
	font-size		:12px;
	text-align		:left;
	color			:#e0e0e0;
}

.person_blog_tag{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	right			:5px;
	width			:115px;
	height			:24px;
	line-height		:24px;
	font-size		:12px;
	text-align		:left;
	color			:#252015;
	padding-left	:5px;
	border-radius	:5px;
	background		:#c8c0b0;
}

.person_blog_comm{
	display			:inline-block;
	position		:absolute;
	top				:5px;
	right			:5px;
	width			:60px;
	height			:20px;	
	line-height		:20px;	
	text-align		:left;
	color			:#302520;
	background		:#C8B880;
	border			:1px solid #C8B880;
	border-radius	:5px;
}

.person_blog_i{
	display			:inline-block;
	position		:absolute;
	top				:0px;
	bottom			:0px;
	left			:3px;
	width			:16px;
	height			:20px;	
	line-height		:20px;	
	margin			:auto;
	font-size		:14px;
	text-align		:center;
	font-family		:at_icon;
	color			:#302520;
}

.person_blog_c{
	display			:inline-block;
	position		:absolute;
	top				:0px;
	bottom			:0px;
	left			:30px;
	width			:30px;
	height			:20px;	
	line-height		:20px;	
	overflow		:hidden;
	font-size		:13px;
	text-align		:left;
	color			:#302520;
}

.person_blog_title{
	display			:inline-block;
	position		:absolute;
	top				:35px;
	left			:90px;
	width			:200px;
	height			:45px;	
	line-height		:23px;	
	text-align		:left;
	font-size		:15px;
	overflow		:hidden;
}

.person_img_box{
	display			:inline-block;
	position		:relative;
	width			:360px;
	height			:480px;	
}

.person_img_main,.person_img_top{
	position		:absolute;
	top				:0;
	left			:0;
	width			:360px;
	height			:480px;	
}

.person_img_top{
	opacity			:0;
}

.person_img_list{
	display			:inline-flex;
	margin-top		:10px;
	width			:360px;
	height			:112px;
	font-size		:0;
}

.person_img_sub{
	width			:84px;
	height			:112px;
	margin-right 	:8px;
}

.prof_l{
	border-bottom	:1px solid #C8B880;
	padding			:0 5px;
	height			:30px;
	line-height		:30px;
	width			:150px;
	font-size		:16px;
	background		:#404040;
	color			:#f0d8a8;
	vertical-align	:top;
}

.prof_r{
	border-bottom	:1px solid #C8B880;
	padding			:0 5px;
	height			:30px;
	line-height		:30px;
	font-size		:16px;
	background		:#282828;
	color			:#c0b890;
}

.prof_l2{
	padding			:0 5px;
	height			:30px;
	line-height		:30px;
	font-size		:16px;
	background		:#404040;
	color			:#f0d8a8;
	border-spacing	:0;
}


.prof_r2{
	border-bottom	:1px solid #C8B880;
	padding			:5px;
	line-height		:28px;
	font-size		:16px;
	background		:#282828;
	color			:#c0b890;
	border-spacing	: 0;
}

.prof_0{
	height			:0;
}

.sche{
	border-collapse: collapse;
	width:500px;
	margin:0 auto;
}

.sche_l_0,
.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5,
.sche_l_6
{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:26px;
	line-height		:30px;
	width			:150px;
	font-size		:14px;
}

.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5
{
	background		:#404040;
	color			:#f0d8a8;
}


.sche_l_0{
	background		:#444444;
	color			:#f0a080;
}

.sche_l_6{
	background		:#444444;
	color			:#90b8c0;
}



.schep_l_0,
.schep_l_1,
.schep_l_2,
.schep_l_3,
.schep_l_4,
.schep_l_5,
.schep_l_6
{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:36px;
	line-height		:36px;
	width			:120px;
	font-size		:16px;
	background		:#404040;
	color			:#f0d8a8;
}

.schep_l_0{
	background		:#444444;
	color			:#f0a080;
}

.schep_l_6{
	background		:#444444;
	color			:#90b8c0;
}


.schep_r_0,
.schep_r_1,
.schep_r_2,
.schep_r_3,
.schep_r_4,
.schep_r_5,
.schep_r_6

{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:36px;
	line-height		:36px;
	font-size		:14px;
	background		:#282828;
	color			:#c0b890;
	text-align		:left;
	width			:180px;
}

.schep_r_0
{
	background		:#282828;
	color			:#f0a080;
}

.schep_r_6
{
	background		:#282828;
	color			:#90b8c0;
}

.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5
{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:28px;
	line-height		:28px;
	font-size		:14px;
	background		:#282828;
	color			:#c0b890;
}

.sche_r_0
{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:28px;
	line-height		:28px;
	font-size		:14px;
	background		:#282828;
	color			:#f0a080;
}

.sche_r_6{
	border-bottom	:2px solid #202020;
	padding-left	:10px;
	height			:28px;
	line-height		:28px;
	font-size		:14px;
	background		:#282828;
	color			:#90b8c0;
}


.sche_block1{
	display			:inline-block;
	width			:42px;
	padding-left	:10px;
	text-align		:left;
}


.check_box{
	display			:flex;
	flex-wrap		:wrap;
	margin			:0 auto 10px auto;
	width			:490px;
	background		:#404040;
	padding			:5px;
}

.check_set1,.check_set{
	display			:inline-block;
	overflow		:hidden;
	background		:#999999;
	color			:#d0d0d0;
	font-size		:18px;
	height			:30px;
	line-height		:30px;
	border-radius	:5px;
	flex-basis		:150px;
	margin			:6px;
	text-align		:center;
}

.main_flex_a{
	display		:block;
	flex-basis	:870px;
	text-align	:left;
	margin-left	:6px;
}
.main_flex_b{
	display			:block;
	flex-basis		:302px;
	text-align		:right;
	margin-right	:6px;
}

.news_al{
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:10px;
	margin			:auto;
	height			:10px;
	width			:10px;	
	border-right	:3px solid #483800;
	border-top		:3px solid #483800;
	transform		:rotate(45deg);
}

.news_caution{
	box-shadow:
		0 50px 0px #604520 inset,
		0 -50px 0px #604520 inset,
		20px 0 0 #604520,
		-20px 0 0 #d00000;
}

.news_tag{
	display		:flex;
	width		:300px;
	flex-wrap	:wrap;
}

.no_news{
	font-size		:16px;
	height			:50px;
	line-height		:50px;
	text-align		:center;
	color			:#c8b880;
}

.img_news_top{
	width:100%;
	margin:10px auto;
}

.pc_only{
	display		:block;
}
.sp_only{
	display		:none;
}

.sel_year{
	font-size		:18px;
	height			:30px;
	line-height		:30px;
	width			:100px;
	flex-basis		:100px;
	margin-left		:auto;
	margin-bottom	:0;
	padding-right	:10px;
	direction		:rtl;
}


.contact_box{
	display			:block;
	width			:620px;
	margin			:20px auto 5px auto;
	text-align		:center;
}

.recruit_contact{
	display			:inline-block;
	width			:300px;
	height			:70px;
	position		:relative;
	margin			:5px;
	color			:#fafafa;
	font-weight		:600;
	border-radius	:10px;
}


.r_tel{
	background		:linear-gradient(135deg,#a090e0,#8070c0);
}

.r_line{
	background		:linear-gradient(135deg,#06C655,#07B53A);
}

.recruit_pop{
	display		:none;
	position	:fixed;
	top			:-20vh;
	left		:-20vw;
	width		:140vw;
	height		:140vh;
	background	:rgba(200,200,200,0.8);
	z-index		:121;
	border			:5px solid #c8b880;
}

.recruit_pop_in,.recruit_pop_in2{
	display			:block;
	position		:absolute;
	left			:0;
	right			:0;
	top				:0;
	bottom			:0;
	width			:400px;
	height			:510px;
	margin			:auto;
	background		:#302520;
	z-index			:10;
	color			:#c8b880;
	font-size		:18px;
	border			:5px solid #c8b880;
	border-radius	:5px;
}

.recruit_pop_in2{
	display		:none;
	text-align	:left;
	padding		:10px;
	height		:100px;
}

.recruit_contact_title{
	width			:902px;
	text-align		:center;
	padding			:0;
	margin-top:20px;
}

.recruit_contact_box{
	width			:860px;
    margin			: 0 auto 20px auto;
    background		: #302520;
    border-radius	: 0 0 10px 10px;
    border			: 1px solid #c8b880;
	padding			:20px;
	text-align		:left;
}

.recruit_send{
	width			:400px;
	margin			:10px auto auto 235px;
	height			:50px;
	text-align		:center;
	font-size		:24px;
	font-weight		:600;
	border-radius	:1px;
	color			:#303030;
	text-shadow		:-1px -1px 0 #ffffff;
	background		:#f0f0f0;
}

.recruit_send2{
	width			:120px;
	margin			:10px 5px;
	height			:30px;
	text-align		:center;
	font-size		:16px;
	font-weight		:600;
	border-radius	:10px;
	color			:#fafafa;
	background		:#6060ff;
	border			:none;
}

#recruit_ok{
	background		:#6060ff;
}

#recruit_ng{
	background		:#ff6060;
}


.contact_icon{ 
	position		:absolute;
	display			:inline-block;
	top				:0;
	bottom			:0;
	left			:10px;
	margin			:auto;
	width			:40px;
	line-height		:50px;
	height			:50px;
	font-size		:40px;
	text-align		:center;
	font-family		:at_icon;	
}

.contact_comm{
	position	:absolute;
	display		:inline-block;
	top			:5px;
	left		:50px;
	height		:36px;
	line-height	:36px;
	font-size	:24px;
	text-align	:left;
	font-weight	:700;
}

.contact_no{
	position	:absolute;
	display		:inline-block;
	bottom		:5px;
	left		:50px;
	height		:30px;
	line-height	:30px;
	font-size	:20px;
	text-align	:left;
	font-weight	:700;
}


.contact_tag{
	font-size		:18px;
	color			:#f0d8a8;
	padding-left	:240px;
	text-align		:left;
}
.contact_p_tag{
	font-size		:18px;
	color			:#c8b880;
	margin			:10px 0 0 20px;
	text-align		:left;
}

.contact_p,.contact_p_num,.contact_p_area{
	font-size		:18px;
	border			:1px solid #303030;
	color			:#303030;
	text-align		:left;
	margin			:5px 20px;
	background		:#fafafa;
}



.contact_p{
	padding-left	:5px;
	height			:30px;
	line-height		:30px;
}

.contact_p_area{
	padding			:5px;
	height			:100px;
	line-height		:25px;
	overflow		:scroll;

}

.contact_p_num{
	text-align		:right;
	padding-right	:5px;
	height			:30px;
	line-height		:30px;
	width			:80px;
}

.contact_p_ck{
	margin:5px 20px;
	font-size:15px;
	color:#c8b880;
	text-align:left;
}


.nec{
	display			:inline-block;
	font-size		:16px;
	color			:#f0e000;
	margin-left		:10px;
}

.contact{
	height			:30px;
	font-size		:16px;
	margin-bottom	:10px;
	width			:400px;
}

.contact_area{
	height			:160px;
	font-size		:16px;
	margin-bottom	:10px;
	width			:400px;
	padding			:10px;
	resize			:none;
}

.contact_err{
	vertical-align	:top;
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	width			:220px;
	margin-right	:10px;
	padding-right	:5px;
	font-size		:0;
	text-align		:right;
	color			:#ffa0d0;
	font-weight		:600;
}

.err_on{
	box-shadow		:5px 0 0 #ffa0d0;
	font-size		:14px;
}

.contact_form{
	display			:block;
	width			:700px;
	margin			:5px auto;
	text-align		:left;
}


.twitter_tl{
	position		:relative;
	display			:block;
	width			:300px;
	background		:#302520;
	border-top		:1px solid #c8b880;
	border-left		:1px solid #c8b880;
	border-right	:1px solid #c8b880;
	margin			:0 auto;
	overflow		:hidden;
}

.twitter_foot_in{
	margin			:10px auto;
	text-align		:center;
	border			:1px solid #302520;
	text-decoration	:none;
	display			:inline-block;
	width			:200px;
	height			:30px;
	line-height		:30px;
	color			:#302520;
	font-size		:16px;
	border-radius	:15px;
	position		:relative;
}

.twitter_icon{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:10px;
	margin			:auto;
	text-align		:center;
	display			:inline-block;
	width			:20px;
	height			:20px;
	line-height		:20px;
	color			:#302520;
	font-size		:18px;
	font-family		:at_icon;	
}

.twitter_foot{
	display			:block;
	width			:300px;
	height			:50px;
	background		:#c8b880;
	border-bottom	:1px solid #c8b880;
	border-left		:1px solid #c8b880;
	border-right	:1px solid #c8b880;
	margin			:0 auto 5px auto;
}


.check_set1{
	background		:linear-gradient(135deg,#a080ff,#8060cf);
	color			:#fafafa;
}



.wait{
	display			:none;
	position		:fixed;
	top				:-10vh;
	left			:-10vw;
	width			:120vw;
	height			:120vh;
	background		:rgba(30,30,30,0.7);
	z-index			:201;
}

.wait_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:100px;
	height			:100px;
	border-top		:10px solid #777777;
	border-left		:10px solid #0000d0;
	border-right	:10px solid #0000d0;
	border-bottom	:10px solid #0000d0;
	border-radius	:50%;
	animation		:3s linear infinite wait_animation;
}


@keyframes wait_animation{
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg); }
}


.main{
    animation-name: fadein;
    animation-duration: 3s;
}
@keyframes fadein{
    from{
    opacity: 0;
    transform: translatesy(20px);
    }
    to{
    opacity: 1;
    transform: translatey(0);
    }
}
