
@media screen and (max-width: 559px){
.access_box{
	font-size			: 3.8vw;
	line-height			: 5.5vw;
	margin				: 1vw auto 3vw auto;
	padding-left		: 1vw;
	width				: 90vw;
}

.access_h1{
	font-size			:4.5vw;
	height				:8vw;
	line-height			:8vw;
	margin				:1vw auto 4vw auto;
}

.access_map_in{
}

.access_map{
}

.access_sig{
	flex-basis			: 90vw;
	width				: 90vw;
}

.access_table{
	flex-wrap			:wrap;
	width				:96vw;
}

.access_tag{
	font-size			: 4vw;
	height				: 5.5vw;
	line-height			: 5.5vw;
	margin				: 2vw auto 1vw auto;
	padding-left		: 1vw;
	width				: 90vw;
}

.all_cast:last-child{
}

.all_cast_count{
	border-radius		:1vw;
	font-size			:4vw;
	height				:6vw;
	line-height			:6vw;
	padding-right		:1vw;
	right				:1vw;
	top					:1vw;
	width				:11vw;
}

.all_cast_icon{
	font-size			:4vw;
	height				:6vw;
	left				:22.5vw;
	line-height			:6vw;
	top					:1vw;
	width				:6vw;
}

.all_cast_img_in{
}

.all_cast_img{
	height				:20vw;
	left				:1vw;
	top					:1vw;
	width				:20vw;
}

.all_cast_last{
	font-size			:3.5vw;
	height				:6vw;
	left				:22vw;
	line-height			:6vw;
	top					:1vw;
	width				:50vw;
}

.all_cast_name{
	bottom				:2vw;
	font-size			:5vw;
	height				:6vw;
	left				:22vw;
	line-height			:6vw;
	width				:62vw;
}

.all_cast{
	height				:22vw;
	line-height			:22vw;
	width				:94vw;
}

.all_tag:last-child{
}

.all_tag_count{
	border-radius		:1vw;
	flex-basis			:12vw;
	font-size			:4vw;
	height				:7vw;
	line-height			:7vw;
	margin				:1.5vw;
	padding-right		:1vw;
}

.all_tag_icon{
	flex-basis			:14vw;
	font-size			:6vw;
	height				:10vw;
	line-height			:10vw;
}

.all_tag_name{
	flex-basis			:60vw;
	font-size			:4.5vw;
	height				:10vw;
	line-height			:10vw;
}

.all_tag{
	height				:10vw;
	width				:92vw;
}

.back_img{
}

.blog_calendar_d{
	height				:12vw;
	line-height			:12vw;
}

.blog_calendar_m{
	font-size			:5vw;
	height				:8vw;
	line-height			:8vw;
}

.blog_calendar_n{
	font-size			:6vw;
	height				:8vw;
	line-height			:8vw;
}

.blog_calendar_out{
	margin				:0vw auto 3vw auto;
	width				:calc(94vw + 2px);
}

.blog_calendar_w{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
}

.blog_calendar{
	margin				:0;
	width				:calc(94vw + 2px);
}

.blog_cast_img{
	height				:48.5vw;
	margin				:0.5vw;
	width				:36.5vw;
}

.blog_cast_left{
	flex-basis			:38vw;
	margin				:1vw 0.5vw 1vw 1vw;
	padding				:0;
	width				:38vw;
}

.blog_cast_link{
	font-size			:5vw;
	font-weight			:600;
	height				:9vw;
	line-height			:9vw;
	margin				:0.5vw auto;
	width				:36.5vw;
}

.blog_cast_name{
}

.blog_cast_right{
	border-spacing		: 0 0.5vw;
	flex-basis			:52vw;
	margin				:1vw 1vw 1vw 0.5vw;
	width				:52vw;
}

.blog_h1{
	display				:inline-block;
	flex-basis			:92vw;
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	padding-left		:2vw;
	width				:92vw;
}

.blog_img{
	margin				:2vw auto;
	width				:80vw;
}

.blog_list:last-child{
	border				:none;
}

.blog_list_castname{
	bottom				:6vw;
	font-size			:4.5vw;
	right				:16vw;
}

.blog_list_comm{
}

.blog_list_date{
	bottom				:1vw;
	font-size			:3.5vw;
	left				:27vw;
}

.blog_list_img{
	height				:25vw;
	left				:0;
	top					:0;
	width				:25vw;
}

.blog_list_log{
	-webkit-box-orient	:vertical;
	-webkit-line-clamp	:2;
	font-size			:3.2vw;
	height				:7.8vw;
	left				:27vw;
	line-height			:4vw;
	top					:9.5vw;
	width				:71vw;
}

.blog_list_more{
	bottom				:1vw;
	font-size			:3.5vw;
	height				:4vw;
	line-height			:4vw;
	right				:1vw;
}

.blog_list_title_in{
}

.blog_list_title{
	align-items			:flex-start;
	font-size			:3.8vw;
	height				:5.5vw;
	left				:27vw;
	line-height			:5vw;
	top					:1.5vw;
	width				:70vw;
}

.blog_list{
	border				:none;
	border-bottom		:1px solid #c8b880;
	height				:25vw;
	margin				:0;
	width				:100vw;
}

.blog_log{
	color				:#c8c0b0;
	display				:block;
	font-size			:4vw;
	line-height			:7vw;
	margin				:0 auto 1vw auto;
	min-height			:20vw;
	text-align			:left;
	width				:88vw;
}

.blog_title{
	border-radius		:1vw 1vw 0 0;
	flex-basis			: calc( 97vw + 2px);
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	margin				:0 auto;
	padding-left		:2vw;
	width				: calc( 97vw + 2px);
}

.blog_top_img{
}

.blog_ttl_border{
	margin				:1vw 2vw 4vw 2vw;
	width				:90vw;
}

.blog_ttl_btm{
	height				:10vw;
	margin-left			:2vw;
	width				:90vw;
}

.blog_ttl_date{
	font-size			:3.5vw;
	height				:6vw;
	line-height			:6vw;
	width				:45vw;
}

.blog_ttl_tag{
	border-radius		:1vw;
	bottom				:1vw;
	height				:6vw;
	text-align			:left;
	width				:26vw;
}

.blog_ttl{
	font-size			:5vw;
	line-height			:7vw;
	margin				:1vw 2vw;
	max-height			:14vw;
	width				:88vw;
}

.body{
}

.box_0{
}

.box_1_in{
	flex-wrap			:wrap;
}

.box_1{
}

.box_2_in{
}

.box_2{
}

.box_3{
}

.box_4{
}

.box_a{
}

.box_back:after{
	background	:none;
}

.box_back:before{
	background	:none;
}

.box_back{
	background	:none;
}

.box_in_1{
}

.box_in_2{
}

.box_in_3{
}

.box_in_4{
}

.box_title{
}

.c_bl{
}

.c_br{
}

.c_tl{
}

.c_tr{
}

.cal,.cal1{
	font-size			:5.5vw;
	height				:9vw;
	line-height			:9vw;
	width				:9vw;
}

.cal1{
	border-radius		:4.5vw;
}

.carendar_pn{
}

.cast_blog{
}

.cast_tag_box_sel{
}

.cast_tag_box{
}

.cast_tag{
}

.check_box{
	margin-bottom		:3vw;
	padding				:0.5vw;
	width				:93vw;
}

.check_set1,.check_set{
	border-radius		:0.5vw;
	flex-basis			:30vw;
	font-size			:4vw;
	height				:7vw;
	line-height			:7vw;
	margin				:0.5vw;
}

.check_set1{
}

.check_title{
}

.contact_area{
	font-size			:4.5vw;
	height				:30vw;
	margin				:0 2vw 4vw 2vw;
	padding				:1vw;
	width				:84vw;
}

.contact_box{
	margin				:3vw auto 1vw auto;
	width				:94vw;
}

.contact_comm{
	font-size			:4.5vw;
	height				:6vw;
	left				:9vw;
	line-height			:6vw;
	top					:1vw;
}

.contact_err{
	height				:5vw;
	line-height			:5vw;
	margin-right		:0;
	padding-right		:0;
	vertical-align		:top;
	width				:22vw;
}

.contact_form{
}

.contact_icon{
	font-size			:8vw;
	height				:10vw;
	left				:0vw;
	line-height			:10vw;
	width				:10vw;
}

.contact_no{
	bottom				:1vw;
	font-size			:3.5vw;
	height				:4vw;
	left				:9vw;
	line-height			:4vw;
}

.contact_p,.contact_p_num,.contact_p_area{
	font-size			:3.5vw;
	margin				:0.5vw 2vw;
}

.contact_p_area{
	height				:20vw;
	line-height			:5.5vw;
	padding				:1.5vw;
}

.contact_p_ck{
	font-size			:3.5vw;
	margin				:1vw 5vw;
}

.contact_p_num{
	height				:6vw;
	line-height			:6vw;
	padding-right		:1vw;
	width				:30vw;
}

.contact_p_tag{
	font-size			:3.2vw;
	margin				:2vw auto 0 4vw;
}

.contact_p{
	height				:6vw;
	line-height			:6vw;
	padding-left		:1.5vw;
}

.contact_tag{
	display				:inline-block;
	font-size			:3.5vw;
	height				:5vw;
	line-height			:5vw;
	padding-left		:3vw;
	vertical-align		:top;
	width				:61vw;
}

.contact{
	font-size			:4.5vw;
	height				:10vw;
	margin				:0 2vw 4vw 2vw;
	width				:84vw;
}

.corner_in{
}

.corner{
	background			:#101010;
}

.customisable-highlight, .timeline-Header-byline{
}

.dot_on{
}

.err_on{
	background			:#d00000;
	box-shadow			:0 0 0 #d00000;
	color				:#fafafa;
	font-size			:3.5vw;
	text-align			:center;
}

.event_click_al_in{
	border-right		:0.5vw solid #fafafa;
	border-top			:0.5vw solid #fafafa;
	height				:1vw;
	position			:absolute;
	right				:1vw;
	top					:0.8vw;
	width				:1vw;
}

.event_click_al{
	background			:#d00000;
	border-radius		:1.5vw;
	height				:3vw;
	right				:1vw;
	top					:0.5vw;
	width				:3vw;
}

.event_click{
	border				:0.5vw solid #d00000;
	border-radius		:3vw;
	bottom				:1vw;
	font-size			:3vw;
	height				:4vw;
	line-height			:4.5vw;
	padding-left		:2vw;
	right				:2vw;
	width				:15vw;
}

.event_img{
}

.foot_a_in{
	font-size			:2.8vw;
	padding				:0.5vw 1.2vw;
}

.foot_a{
	text-align			:center;
	text-align			:center;
	text-align			:center;
}

.foot_b{
	width				:50vw;
}

.foot_c_in{
	display				:block;
	font-size			:3vw;
	height				:4vw;
	line-height			:4vw;
	margin				:0 auto;
	width				:50vw;
}

.foot_in{
}

.foot_logo{
	width				:50vw;
}

.foot{
	height				:44vw;
	width				:100vw;
}

.footmark_box{
	height				:5vw;
	line-height			:5vw;
	margin				:0 1vw;
	min-width			:10vw;
}

.footmark_icon{
	font-size			:4vw;
	height				:5vw;
	line-height			:5vw;
	width				:5vw;
}

.footmark_text{
	font-size			:3.5vw;
	height				:5vw;
	line-height			:5vw;
	max-width			:40vw;
	text-align			:left;
}

.footmark{
	height				:6vw;
	margin				:1vw auto 2vw auto;
	width				:94vw;
}

.h2{
}

.head_b_1,.head_b_2{
}

.head_b_1{
}

.head_b_2{
}

.head_b_table{
	display				:none;
}

.head_b_ttl{
}

.head_b{
	flex-wrap			:wrap;
	height				:18vw;
	position			:fixed;
	width				:100vw;
}

.head_h1{
	width				:99vw;
	flex-basis			:99vw;
	font-size			:3.5vw;
	height				:5vw;
	line-height			:5vw;
	margin				:0;
	text-align			:center;
}

.head_img{
	height				:12vw;
	width				:36vw;
}

.head_in{
	height				:0;
}

.head_logo{
	flex-basis			:36vw;
	height				:12vw;
	margin				:0 0 0 1vw; 
	width				:36vw;

}

.head_menu{
	border				:1px solid #c8b880;
	border-radius		:1vw;
	bottom				:0;
	cursor				:pointer;
	display				:block;
	height				:10vw;
	line-height			:10vw;
	margin				:auto;
	position			:absolute;
	right				:2vw;
	text-align			:center;
	top					:0;
	width				:10vw;
}


.head_tel{
	background			:#c8b880;
	border-radius		:1vw;
	color				:#302520;
	display				:inline-block;
	font-family			:at_icon;
	font-size			:8vw;
	height				:10vw;
	line-height			:10vw;
	position			:absolute;
	right				:2vw;
	text-align			:center;
	top					:2vw;
	width				:16vw;
}

.head_top{
	height				:12vw;
	left				:0vw;
	margin				:auto;
	position			:absolute;
	right				:0vw;
	top					:1vw;
	width				:36vw;
}

.head{
	background			:#302520;
	height				:18vw;
	position			:fixed;
	width				:100vw;
}

.icon{
}

.img_news_top{
}

.info_box{
}

.info_img_out,.info_img_out2{
}

.info_img_out:before{
}

.info_img_out:hover:before{
}

.info_img{
}

.main_a_comm{
	height				:19vw;
	left				:21vw;
	padding				:0;
	position			:absolute;
	top					:0.5vw;
	width				:70vw;
}

.main_a_date{
	font-size			:3.5vw;
	height				:4vw;
	line-height			:3vw;
	padding-left		:1vw;
	width				:20vw;
	color				:#fafafa;
}

.main_a_img:hover{
	height				:20vw;
	width				:20vw;
}

.main_a_img_out{
	height				:20vw;
	width				:20vw;
}

.main_a_img{
	height				:20vw;
	left				:0;
	position			:absolute;
	top					:0;
	width				:20vw;
}

.main_a_more:hover{
}

.main_a_more{
	border				:0.5vw solid #c8b880;
	border-radius		:5.5vw;
	flex-basis			:36vw;
	font-size			:5vw;
	height				:10vw;
	line-height			:10vw;
	margin				:4vw auto;
	transition			:.5s;
	width				:36vw;
}

.main_a_title{
	color				:#c8c0b0;
	font-size			:4vw;
	height				:12vw;
	line-height			:6vw;
	margin				:0.5vw 0.5vw 3vw 0.5vw;
	width				:67vw;
}

.main_a{
	background			:#302520;
	border				:none;
	border-bottom		:1px solid #fafafa;
	flex-basis			:100vw;
	height				:20vw;
	margin				:0;
	width				:100vw;
}

.main_al_0{
	bottom				:0vw;
	height				:20vw;
	right				:0vw;
	width				:10vw;
}

.main_al_1{
	background			:#c8b880;
	bottom				:0;
	height				:20vw;
	position			:absolute;
	right				:0;
	transform			:rotate(0);
	width				:10vw;
}

.main_al_2{
	border				:2px solid #302520;
	border-radius		:50%;
	bottom				:0;
	height				:5vw;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:0;
	width				:5vw;
}

.main_al_3{
	border-bottom		:2px solid #302520;
	border-right		:2px solid #302520;
	bottom				:0;
	height				:1.5vw;
	margin				:auto;
	position			:absolute;
	right				:4.5vw;
	top					:0;
	transform			:rotate(-45deg);
	transform-origin	:center;
	width				:1.5vw;
}

.main_article{
	margin				: 0 auto 3vw auto;
	width				:98vw;
}

.main_b_1:before,.main_d_1:before{
}

.main_b_1:hover:before,.main_d_1:hover:before{
}

.main_b_1_0{
}

.main_b_1{
	border-radius		:22vw 22vw 22vw 22vw / 9vw 9vw 22vw 22vw ;
	height				:57vw;
	margin				:9vw 2vw;
	width				:44vw;
}


.main_b_1_1{
	background-repeat	:no-repeat;
	background-size		:contain;
	border-radius		:19.5vw 19.5vw 19.5vw 19.5vw / 8vw 8vw 19.5vw 19.5vw ;
	height				:52vw;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:2.5vw;
	width				:39vw;
}

.main_b_1_2_h{
}

.main_b_1_2_name{
	background			:#c8b880;
	border				:1px solid #483800;
	bottom				:-5vw;
	box-shadow			:0 0 0 1vw #c8b880;
	color				:#483800;
	font-size			:4vw;
	font-weight			:600;
	height				:8vw;
	line-height			:8vw;
	text-align			:center;
	width				:34vw;
	z-index				:1;
}

.main_b_1_on{
}

.main_b_1_ribbon_0{
	height				:10vw;
	width				:26vw;
}

.main_b_1_ribbon_1{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	width				:26vw;
}

.main_b_1_ribbon_2{
	border-bottom		:5vw solid;
	border-left			:3vw solid;
	border-left-color	:transparent;
	border-right		:3vw solid;
	border-top			:5vw solid;
	bottom				:-2vw;
	content				:'';
	height				:0;
	left				:-6vw;
	position			:absolute;
	width				:3vw;
}

.main_b_1_ribbon_3{
	border-bottom		:5vw solid;
	border-left			:3vw solid;
	border-right		:3vw solid;
	border-right-color	:transparent;
	border-top			:5vw solid;
	bottom				:-2vw;
	height				:0;
	position			:absolute;
	right				:-6vw;
	width				:3vw;
}

.main_b_1_ribbon_4{
	border-bottom		: solid 2vw transparent;
	border-right		: solid 3vw #303030;
	bottom				:-2vw;
	left				:0;
	position			:absolute;
}

.main_b_1_ribbon_5{
	border-bottom		: solid 2vw transparent;
	border-left			: solid 3vw #303030;
	bottom				:-2vw;
	position			:absolute;
	right				:0;
}

.main_b_1_ribbon{
	height				:10vw;
	top					:-5vw;
	width				:26vw;
	z-index				:2;
}

.main_b_all{
}

.main_b_notice_arrow{
}

.main_b_notice_date{
}

.main_b_notice_link,.main_b_notice_alink{
}

.main_b_notice_link:hover{
}

.main_b_notice_tag{
}

.main_b_notice_title{
}

.main_b_notice{
}

.main_b_td_1{
}

.main_b_td_2{
}

.main_b_td_3{
}

.main_b_title,.main_b_title_l,.twitter_title,.sche_title,.blog_title,.prof_title,.recruit_contact_title,.check_title{
}

.main_b_title_l{
}

.main_b_title{
}

.main_b_top2{
}

.main_b_top{
	margin				: 0 auto 3vw auto;
}

.main_b{
}

.main_blog_list{
	margin		:1vw auto;
	width		:100vw;

}

.main_blog_title{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	margin				:0 auto;
	padding-left		:2vw;
	width				:92vw;
}

.main_c_1:hover{
}

.main_c_1{
}

.main_c{
}

.main_d,.main_b_in{
	min-height			: calc( 100vh - 17vw - 44vw - 28vw );
}

.main_d_1_1{
}

.main_d_1_2_name{
}

.main_d_1_2_sch{
}

.main_d_1_2{
}

.main_d_1{
}

.main_d_title,.main_b_title{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
}

.main_d{
}

.main_e_f{
}

.main_e_in{
}

.main_e{
}

.main_flex_a{
}

.main_flex_b{
	display				:block;
}

.main_sub{
}

.main_top_flex{
	width				:100vw;
}

.main_top{
	margin				: 0 auto 3vw auto;
}

.main{
	background			:#101010;
	padding				:19vw 0 3vw 0;
}

.menu-item {
}

.menu-item a{
}

.menu_a{
	background			:#c8b880;
	height				:1px;
	left				:1.5vw;
	position			:absolute;
	top					:2.5vw;
	transform-origin	:right;
	width				:7vw;
}

.menu_b{
	background			:#c8b880;
	height				:1px;
	left				:1.5vw;
	position			:absolute;
	top					:5vw;
	width				:7vw;
}

.menu_c{
	background			:#c8b880;
	height				:1px;
	left				:1.5vw;
	position			:absolute;
	top					:7.5vw;
	transform-origin	:right;
	width				:7vw;
}

.menu_item {
	flex-basis			:40vw;
	height				:10vw;
	line-height			:10vw;
	margin				:0;
	width				:40vw;
}

.menu_item a{
	color				:#c8b880;
	display				:inline-block;
	font-size			:4.5vw;
	height				:10vw;
	line-height			:10vw;
	text-align			:center;
	width				:100%;
}

.menu_item:hover{
}

.menu_item{
}

.menu{
	align-content		:flex-start;
	background			:#303030;
	border				:1vw solid #303030;
	flex-wrap			:wrap;
	height				:100vh;
	position			:absolute;
	right				:-46vw;
	top					:14vw;
	width				:40.5vw;
}

.nec{
	font-size			:3.5vw;
	margin-left			:2vw;
}

.news_a{
}

.news_al{
}

.news_all{
	font-size			:3.5vw;
	right				:5vw;
}

.news_b{
}

.news_caution{
}

.news_main_b_year{
}

.news_tag_list{
	font-size			:3.5vw;
	height				:8vw;
	line-height			:8vw;
}

.news_tag{
}

.news_title_l{
}

.no_blog{
}

.no_info{
	font-size			:3.8vw
	height				:10vw;
	line-height			:10vw;
}

.no_news{
	font-size			:4vw;
	height				:10vw;
	line-height			:10vw;
	font-size			:4vw;
	font-size			:4vw;
	height				:10vw;
	height				:8vw;
	line-height			:10vw;
	line-height			:8vw;
}

.page_box{
	border-left			:none;
	height				:12vw;
	border-right		:none;
	margin				:2vw auto 3vw auto;
	width				:100vw;
}

.page_n:hover{
}

.page_n{
	font-size			:5vw;
	height				:8vw;
	line-height			:8vw;
	margin				:2vw 0;
	width				:8vw;
}

.pc_only{
}

.person_blog,.cast_blog{
	height				:20vw;
	margin-top			:0.5vw;
	width				:94vw;
}

.person_blog:last-child{
}

.person_blog_c{
	font-size			:3vw;
	height				:5vw;
	line-height			:5vw;
	width				:8vw;
}

.person_blog_comm{
	display				:inline-block;
	height				:5vw;
	position			:absolute;
	right				:2vw;
	top					:1vw;
	width				:14vw;
}

.person_blog_date{
	font-size			:3.2vw;
	height				:4vw;
	left				:22vw;
	line-height			:4vw;
	top					:1vw;
	width				:34vw;
}

.person_blog_i{
	font-size			:3vw;
	height				:5vw;
	line-height			:5vw;
	width				:5vw;
}

.person_blog_img{
	height				:20vw;
	left				:0;
	top					:0;
	width				:20vw;
}

.person_blog_no{
	font-size			:4vw;
	height				:20vw;
	line-height			:20vw;
	margin				:0;
	width				:94vw;
}

.person_blog_tag{
	border-radius		:1vw;
	font-size			:3.5vw;
	height				:6vw;
	padding-left		:0.5vw;
	width				:26vw;
}

.person_blog_title{
	font-size			:3.8vw;
	height				:11vw;
	left				:22vw;
	line-height			:5.5vw;
	top					:8vw;
	width				:71vw;
}

.person_blog_ttl{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	width				:88vw;
}

.person_blog{
}

.person_err{
}

.person_img_box{
	flex-basis			:75vw;
	height				:100vw;
	margin				:0;
	width				:75vw;
}

.person_img_list{
	flex-basis			:18vw;
	height				:100vw;
	margin				:0vw;
	width				:18vw;
}

.person_img_main,.person_img_top{
	height				:100vw;
	left				:0;
	top					:0;
	width				:75vw;
}

.person_img_sub{
	height				:24vw;
	margin-bottom		:1.3vw;
	width				:18vw;
}

.person_img_top{
}

.person_left_blog{
	display				:none;
}

.person_left{
	flex-basis			:95vw;
	margin				:0 auto 3vw auto;
	text-align			:center;
	width				:95vw;
}

.person_main{
	flex-wrap			:wrap;
	margin				:0 auto;
	width				:100vw;
}

.person_middle{
	flex-basis			:96vw;
	margin				:0 auto;
	min-height			:0;
	width				:96vw;
}

.person_right{
	display				:block;
	flex-basis			:96vw;
	margin				:0 auto;
	min-height			:0;
	width				:96vw;
}

.pg_b{
}

.pg_f{
}

.pg_n{
}

.prof_0{
}

.prof_l2{
	font-size			:4vw;
	height				:7vw;
	line-height			:7vw;
	padding-left		:1vw;
	width				:auto;
}

.prof_l{
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	padding				:0 0.5vw;
	padding-left		:1.5vw;
	width				:30vw;
}

.prof_r2{
	font-size			:4vw;
	line-height			:6vw;
	min-height			:6vw;
	padding				:2vw;
	width				:auto;
}

.prof_r{
	font-size			:4vw;
	padding				:0 0.5vw;
	padding-left		:1.5vw;
	width				:auto;
}

.prof_title,.blog_title,.check_title{
}

.prof_title,.check_title{
	border-radius		:1vw 1vw 0 0;
	flex-basis			:92vw;
	font-size			:4vw;
	height				:8vw;
	line-height			:8vw;
	margin				:0 auto;
	padding-left		:2vw;
	width				:92vw;
}

.prof_title{
}

.prof{
	border-spacing		: 0px 1vw;
	margin				:0vw auto 3vw auto;
	width				:94vw;
}

.r_line{
}

.r_tel{
}

.rec_img{
}

.rec_l{
	flex-basis			:100%;
	font-size			:4vw;
}

.rec_r{
	flex-basis			:100%;
	font-size			:3.8vw;
	line-height			:5.5vw;
}

.rec{
	flex-wrap			:wrap;
}

.recruit_contact_box{
	margin				:0 auto 2vw auto;
	padding				:2vw;
	width				:88vw;
}

.recruit_contact_title{
	width				:calc(92vw + 2px);
}

.recruit_contact{
	border-radius		:1vw;
	height				:12vw;
	width				:42vw;
}

.recruit_pop_in,.recruit_pop_in2{
}

.recruit_pop_in2{
	font-size			:4vw;
	height				:40vw;
	width				:80vw;
}

.recruit_pop_in{
	font-size			:4vw;
	height				:102vw;
	width				:80vw;
}

.recruit_pop{
}

.recruit_send2{
	font-size			:4.5vw;
	height				:10vw;
	margin				:2vw;
	width				:30vw;
}

.recruit_send{
	font-size			:4.5vw;
	height				:10vw;
	margin				:2vw;
	width				:84vw;
}

.ribbon1{
}

.ribbon2{
}

.ribbon3{
}

.sel_news_year{
}

.sel_year{
	flex-basis			:14vw;
	font-size			:4vw;
	height				:6vw;
	line-height			:6vw;
	padding-right		:1vw;
	width				:14vw;
}

.side2_img{
}

.signet{
	font-size			:3vw;
	height				:6vw;
	line-height			:6vw;
}

.slide_dot{
}

.slide_img_cv{
}

.slide_img{
}

.slide_point{
}

.slide{
}

.sp_only{
}

.sub_blog_cast{
}

.sub_blog_in,.sub_blog_cast{
	flex-basis			:98vw;
	flex-wrap			:nowrap;
	margin				:0 auto 3vw auto;
	width				:98vw;
}

.sub_blog_in2{
}

.sub_blog_in{
}

.sub_blog_pack_a{
}

.sub_blog_pack_b{
}

.sub_blog{
	flex-basis			:98vw;
	flex-wrap			:wrap;
	margin				:0 auto;
	width				:98vw;
}

.sys_box_log{
	font-size			:3.8vw;
	line-height			:6vw;
	width				:85vw;
}

.sys_box_ttl{
	font-size			:4vw
}

.sys_box{
}

.system_box_1{
	font-size			:3.8vw;
	height				:5.5vw;
	line-height			:5.5vw;
}

.system_box_2{
	font-size			:3.8vw;
	height				:5.5vw;
	line-height			:5.5vw;
}

.system_box_3{
	font-size			:3.8vw;
	height				:5.5vw;
	line-height			:5.5vw;
}

.system_box{
}

.system_title{
	font-size			:4vw;
	height				:5vw;
	line-height			:5vw;
}

.tl_append{
	display				:none;
}

.to_top_in, .to_top_in2{
	border-right		:1vw solid #101510;
	border-top			:1vw solid #101510;
	height				:3.5vw;
	width				:3.5vw;
}

.to_top_in2{
	bottom				:3vw;
}

.to_top{
	border-radius		:1vw;
	bottom				:3vw;
	height				:10vw;
	right				:2vw;
	width				:10vw;
}

.top_comm_in{
	border				:1px solid #c8b880;
	margin				:0.5vw;
	position			:relative;
}

.top_comm_log{
	font-size			:3.5vw;
	line-height			:5vw;
	padding				:1vw 2vw;
}

.top_comm_title{
	border-bottom		:0.5vw double #f8e8c0;
	font-size			:4vw;
	font-weight			:700;
	height				:8vw;
	line-height			:8vw;
	margin				:2vw auto;
	width				:70vw;
}

.top_comm{
	border				:0.5vw solid #c8b880;
	margin				:2vw auto;
	width				:90vw;
}
}


