.img_box_flex{
	display		:flex;
	justify-content:space-around;
	flex-wrap	:wrap;
	width		:400px;
	height		:650px;
	margin		:10px;
}

.img_box_in{
	position	:relative;
	display		:inline-block;
	flex-basis	:194px;
	height		:311px;
	overflow	:hidden;
}

.img_box_table{
	position		:absolute;
	top				:0;
	left			:-192px;
	width			:386px;
	background		:#fafafa;
	height			:311px;
	border			:2px solid #909090;
	border-spacing	: 0;
}

.r_img_box_table{
	flex-basis		:192px;
	max-width		:192px;
	height			:311px;
	max-height		:311px;
	overflow		:hidden;
	background		:#fafafa;
}

.img_box_td_1{
	border			:2px solid #909090;
	width			:190px;
	max-width		:190px;
	min-width		:190px;
	height			:240px;
	position		:relative;
	padding			:0;
}

.img_box_td_1_in{
	display:block;
	width			:190px;
	height			:240px;
	padding			:0;
	margin			:0;
	overflow		:hidden;
}


.img_box_td_2{
	position		:relative;
	border			:2px solid #909090;
	width			:190px;
	max-width		:190px;
	background		:#e0e0e0;
	padding:0;
}

.img_up_img{
	display		:inline-block;
	position	:absolute;
	top			:20px;
	left		:20px;
	background	:linear-gradinet(#9090b0,#8080c0);
	width		:150px;
	height		:200px;
}

.img_up_file{
	display			:inline-block;
	background		:linear-gradient(#c0c0c0,#909090);
	position		:absolute;
	top				:5px;
	left			:5px;
	height			:25px;
	line-height		:25px;
	width			:40px;
	color			:#fafafa;
	overflow		:hidden;
	padding			:0 5px;
	border-radius	:3px;
	text-align		:center;
	font-size		:20px;
	font-family		:at_icon;
}

.img_up_stamp,.img_up_rote,.img_up_reset,.img_up_del{
	display		:inline-block;
	background	:linear-gradient(#c0c0c0,#909090);
	position	:absolute;
	top			:5px;
	height		:25px;
	line-height	:25px;
	width		:25px;
	text-align	:center;
	color		:#fafafa;
	border-radius:3px;
	cursor		:pointer;
	font-size	:15px;
	font-family:at_icon;
}

.stamp_on{
	background	:linear-gradient(#ffd0d0,#ffb0b0);
}

.img_up_stamp{
	left		:64px;
}

.img_up_rote{
	left		:96px;
}

.img_up_reset{
	left		:128px;
}

.img_up_del{
	left		:160px;
}

.img_box_td_in{
	display		:inline-block;
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:0;
	left		:0;
	background	:##fafafa;
	width		:144px;
	height		:63px;
	margin		:auto;
}

.img_up_al,.img_up_al2{
	position	:absolute;
	top			:0;
	bottom		:0;
	display		:inline-block;
	background	:##fafafa;
	height		:63px;
	width		:20px;
	text-align	:center;
	cursor		:pointer;
	font-size	:0;
	margin		:auto;
}

.img_up_al{
	right		:1px;
}
.img_up_al2{
	left		:1px;
}

.img_up_al_in,.img_up_al2_in{
	position		:absolute;
	top				:0;
	bottom			:0;
	margin			:auto;
	transform		:rotate(45deg);
	transform-origin:center;
	width			:10px;
	height			:10px;
}

.img_up_al_in{
	right			:5px;
	border-top		:5px solid #ffffff;
	border-right	:5px solid #ffffff;
}

.img_up_al2_in{
	left			:5px;
	border-bottom	:5px solid #ffffff;
	border-left		:5px solid #ffffff;
}

.img_box_out1{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:0;
	width		:20px;
	height		:20px;
	z-index		:5;
}

.img_box_out2{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:20px;
	width		:150px;
	height		:20px;
	border-bottom:1px solid #ff0000;
	z-index		:5;
}

.img_box_out3{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	right		:0;
	width		:20px;
	height		:20px;
	z-index		:5;
}

.img_box_out4{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:20px;
	left		:0;
	width		:20px;
	height		:200px;
	border-right:1px solid #ff0000;
	z-index		:5;
}

.img_box_out5{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:20px;
	right		:0;
	width		:20px;
	height		:200px;
	border-left	:1px solid #ff0000;
	z-index		:5;
}

.img_box_out6{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	left		:0;
	width		:20px;
	height		:20px;
	z-index		:5;
}

.img_box_out7{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	left		:20px;
	width		:150px;
	height		:20px;
	border-top	:1px solid #ff0000;
	z-index		:5;
}

.img_box_out8{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	right		:0;
	width		:20px;
	height		:20px;
	z-index		:5;
}

.cvw_0{
	position	:absolute;
	background	:#f0f0f0;
}

input[type=range] {
	-webkit-appearance:none;
	background		:#909090;
	height			:5px;
	width			:90px;
	display			:inline-block;
	border			:none;
	margin			:10px 2px;
	border-radius	:0;
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance	:none;
	background			:#909090;
	height				:16px;
	width				:16px;
	border-radius		:50%;
	border				:2px solid #ffffff;
}

input[type=range]::-ms-tooltip{
	display:none;
}

input[type=range]::-moz-range-track{
	height:0;
}

input[type=range]::-moz-range-thumb{
	background		:#909090;
	height			:14px;
	width			:14px;
	border-radius	:50%;
	border			:2px solid #ffffff;
}

.zoom_mi{
	display				:inline-block;
	height				:25px;
	line-height			:25px;
	flex-basis			:18px;
	border				:1px solid #909090;
	border-radius		:5px 0 0 5px;
	text-align			:center;
	cursor				:pointer;
	background			:#e0e0e0;
	color				:#909090;
	font-size			:14px;
	font-weight			:600;
}		

.zoom_pu{
	display				:inline-block;
	height				:25px;
	line-height			:25px;
	flex-basis			:18px;
	border				:1px solid #909090;
	border-radius		:0 5px 5px 0;
	text-align			:center;
	cursor				:pointer;
	background			:#e0e0e0;
	color				:#909090;
	font-size			:14px;
	font-weight			:600;
}

.zoom_rg{
	display				:inline-block;
	height				:25px;
	line-height			:25px;
	flex-basis			:100px;
	border				:1px solid #909090;
	background			:#e0e0e0
}

.zoom_box{
	border				:1px solid #909090;
	color				:#909090;
	display				:inline-block;
	height				:25px;
	line-height			:25px;
	flex-basis			:35px;
	text-align			:center;
	margin-left			:5px;
	background			:#ffffff;
	font-weight			:600;
	font-size			:13px;
}

.img_box_in2{
	display			:inline-block;
	font-size		:20px;
	color			:#fafafa;
	font-weight		:600;
	width			:100%;
	height			:65px;
	line-height		:65px;
	text-align		:center;
}

.img_box_in3{
	display			:flex;
	flex-wrap		:nowrap;
	font-size		:0;
	position		:absolute;
	top				:35px;
	left			:5px;
	width			:180px;
	height			:25px;
}

.cvs0{
	width			:150px;
	height			:200px;

}

.r_img_stamp{
	display			:none;
	position		:absolute;
	top				:30px;
	left			:30px;
	height			:80px;
	width			:80px;
	border			:1px solid #ff3030;
	cursor			:pointer;
	overflow		:hidden;
	box-sizing		:border-box;
	z-index			:5;
}

.r_img_stamp_in{
	position		:absolute;
	top				:-20.5%;
	left			:-20.5%;
	width			:141%;
	height			:141%;
}

.r_stamp_r,.r_stamp_d{
	position		:absolute;
	margin			:auto;
	width			:16px;
	height			:16px;
	line-height		:16px;
	border			:1px solid #ff3030;
	background		:#f0f0f0;
	color			:#ff3030;
	text-align		:center;
	font-size		:11px;
	font-family		:at_icon;
}	

.r_stamp_d{
	top				:auto !important;
	left			:auto !important;
	right			:0 !important;
	bottom			:0 !important;
}

.r_stamp_r{
	top				:0 !important;
	right			:0 !important;
	left			:auto !important;
	bottom			:auto !important;
}

.op05{
	opacity:0.5 !important;
}
