.easytalk_head{
	display			:block;
	width			:100%;
	min-width		:1200px;
	height			:50px;
	margin			:auto;
	background		:linear-gradient(#3a3a3a,#1a1a1a);
	text-align		:center;
	z-index			:120;
	padding			:0;
	font-size		:0;
}


.easytalk_head_box{
	display			:flex;
	margin			:0 auto;
	width			:1180px;
	height			:50px;
}

.easytalk_main{
	display			:block;
	background		:#000000;
	text-align		:center;
	width			:1200px;
	min-height		:calc(100vh - 100px);
	margin			:0 auto;
	font-size		:0;
	vertical-align	:top;
	padding-top		:10px;
}

.easytalk_foot{
	display			:block;
	position		:relative;
	width			:100%;
	margin			:10px auto 0 auto;
	background		:linear-gradient(#302520,#101513);
	text-align		:center;
}

.main_easytalk{
	width			:800px;
}


.easytalk_head_msg{
	height			:50px;
	line-height		:70px;
	text-align		:left;
	font-size		:22px;
	font-weight		:900;
	color			:#c8b880;
	flex			:1;
}

.easytalk_head_logo{
	height		:50px;
	flex-basis	:150px;
	margin-left	:auto;
}


.sub_easytalk{
	width		:340px;
	background	:#d030e0;
}

.mail_box_a,.mail_box_b{
	padding		:20px 20px 0 20px;
	position	:relative;
	display		:block;
	margin		:30px auto;
	text-align	:left;
}

.mail_box_b{
	text-align	:right;
}


.mail_box_new{
	position		:relative;
	display			:inline-block;
	width			:600px;
	border-radius	:20px;
	margin			:10px auto;
	padding			:0;
	text-align		:center;
	background		:#03a0ff;

}

.mail_box_new_ng{
	position		:relative;
	display			:inline-block;
	width			:600px;
	border-radius	:20px;
	margin			:10px auto;
	padding			:0;
	text-align		:center;
	background		:#aaaaaa;

}

.mail_box_new_in{
	display			:none;
}

.mail_box_icon{
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	width			:40px;
	font-family		:at_icon;
	vertical-align:middle;
	font-size		:26px;
	text-align		:center;
}

.mail_box_new_msg,.mail_box_new_msg2{
	position	:relative;
	display		:block;
	height		:30px;
	line-height	:30px;
	font-size	:18px;
	color		:#fafafa;
	text-align	:left;
	margin		:5px;
	vertical-align:middle;
}

.mail_box_new_del{
	display			:none;
	position		:absolute;
	top				:0;
	right			:5px;
	bottom			:0;
	margin			:auto;
	font-weight		:800;
	text-align		:center;
	height			:20px;
	line-height		:20px;
	width			:20px;
}

.mail_box_new_log{
	width		:400px;
	height		:160px;
	resize		:none;
	font-size	:18px;
	padding		:10px;
}


.mail_box_new_log_out{
	vertical-align:top;
	width		:400px;
	height		:160px;
	margin		:10px 5px;
	border		:1px solid #6090ff;
	display		:inline-block;
	overflow	:hidden;
}

.mail_img_view{
	vertical-align:top;
	width		:160px;
	height		:160px;
	margin		:10px 5px;
	display		:inline-block;;
}

.mail_box_new_btn{
	margin		:10px auto;
	width		:300px;
	height		:50px;
	font-size	:20px;
	color		:#fafafa;
	background	:linear-gradient(#0000ff,#0000a0);
}


.mail_box_face{
	display			:inline-block;
	position		:relative;
	min-height		:80px;	
	width			:80px;
	background		:#c0cc00;
	vertical-align	:top;
	overflow		:hidden;
	border-radius	:10px;
	border			:5px solid #ffc0e0;
	margin			:3px 10px 0 5px;
}


.mail_box_img{
	position		:absolute;
	top				:0;
	left			:0;
	width			:80px;
	background		:#e0e0ff;
}

.mail_box_stamp{
	width			:80%;
	margin			:1.5vw auto;
}

.mail_box_log_1{
	position		:relative;
	display			:block;
	background		:#fff8fc;
	border			:2px solid #ffc0e0;
	border-radius	:10px 10px 30px 10px;
	margin			:0;
	padding			:0;
	text-align		:center;
}

.mail_box_log_2{
	position		:relative;
	display			:inline-block;
	width			:75%;
	border			:2px solid #30e020;
	border-radius	:10px 10px 10px 30px;
	margin			:0;
	padding			:0;
	text-align		:center;
}

.mail_box_log_in{
	display			:inline-block;
	font-size		:15px;
	line-height		:25px;
	padding			:10px 15px;
	text-align		:left;
	margin:0 auto;
}
.mail_box_a_right{
	display		:inline-block;
	width		:75%;

}
.mail_box_date_a{
	display		:block;
	height		:18px;
	line-height	:18px;
	font-size	:15px;
	font-weight	:600;
	color		:#c8b880;
	text-align	:left;
}

.mail_box_date_b{
	display		:inline-block;
	width:75%;
	height		:18px;
	line-height	:18px;
	font-size	:15px;
	font-weight	:600;
	color		:#c8b880;
	display		:inline-block;
	text-align	:left;
}

.midoku{
	color		:#fafafa;
	background	:#ff6060;
	padding		:1px 10px;
	border-radius:3px;	
}

.mail_box_del{
	position	:absolute;
	top			:5px;
	right		:60px;
	height		:16px;
	line-height	:16px;
	font-size	:13px;
	font-weight	:600;
	display		:inline-block;
	padding		:2px 5px; 
	text-align	:center;
	background	:#ffd0e0;
	color		:#d00000;
}


.mail_box_next{
	display:block;
	width:90vw;
	height:6vw;
	margin:1vw auto;
	font-size:3.5vw;
	line-height:6vw;
	text-align:center;
	background:#0090a0;
	color:#fafafa;

}

.easytalk_img{
	width	:300px;
	height	:100px;
}


.send_img_table{
	width:300px;
}

.q_td{
	width:80px;
	height:80px;
	vertical-align:bottom;
}

.err_msg{
	display:block;
	margin		:10px auto;
	width		:80%;
	border		:2px solid #c8b880;
	background	:#302520;
	font-size	:15px;
	line-height	:25px;
	color		:#c8b880;
	padding:10px;
	text-align:left;
}



/*/--------------------------------------**/



.img_box{
	position		:fixed;
	top				:1000vh;
	left			:0;
	right			:0;
	margin			:auto;
	width			:360px;
	height			:525px;
	background		:#fffaf0;
	text-align		:center;
	border-radius	:10px;
	z-index			:130;
	border			:2px solid #303030;
	box-shadow		:3px 3px 2px rgba(30,30,30,0.5); 
	font-size		:0;
}

.img_box_in{
	display			:block;
	position		:relative;
	margin			:30px auto 0 auto;
	width			:300px;
	height			:300px;
	border			:1px solid #606060;
	overflow		:hidden;
	text-align		:center;
	background		:#f0f0f0;
}

.img_box_in2{
	display			:block;
	position		:relative;
	margin			:10px auto;
	width			:300px;
	height			:160px;
	border			:1px solid #303030;
	background		:#fafafa;
}

.img_box_in3{
	display			:flex;
	margin			:0 auto;
	flex-wrap		:nowrap;
	width			:280px;
	height			:50px;
}


.img_box_out1{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:0;
	width		:30px;
	height		:30px;
	z-index		:27;
}

.img_box_out2{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:30px;
	width		:240px;
	height		:30px;
	border-bottom:1px solid #ff0000;
	z-index		:27;
}

.img_box_out3{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	right		:0;
	width		:30px;
	height		:30px;
	z-index		:27;
}

.img_box_out4{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:30px;
	left		:0;
	width		:30px;
	height		:240px;
	border-right:1px solid #ff0000;
	z-index		:27;
}

.img_box_out5{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:30px;
	right		:0;
	width		:30px;
	height		:240px;
	border-left	:1px solid #ff0000;
	z-index		:27;
}

.img_box_out6{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	left		:0;
	width		:30px;
	height		:30px;
	z-index		:27;
}

.img_box_out7{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0vw;
	left		:30px;
	width		:240px;
	height		:30px;
	border-top	:1px solid #ff0000;
	z-index		:27;
}

.img_box_out8{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	right		:0;
	width		:30px;
	height		:30px;
	z-index		:27;
}

.btn_c1{
	display			:inline-block;
	position		:relative;
	width			:175px;
	height			:35px;
	line-height		:35px;
	margin			:5px 10px;
	border-radius	:5px;
	border			:1px solid #cccccc;
	background		:linear-gradient(#f0f0f0,#d0d0d0);
	text-align		:center;
	cursor			:pointer;
	font-size		:18px;
}

.btn_c2{
	position		:absolute;
	top				:-20px;
	right			:-20px;	

	width			:50px;
	height			:50px;
	border-radius	:50%;
	background		:#303030;
	line-height		:50px;
	text-align		:center;
	color			:#fafafa;
	font-weight		:800;
	font-size		:30px;
	cursor			:pointer;
	z-index			:28;
	border			:2px solid #fffaf0;
}

.btn_c3{
	display			:inline-block;
	position		:relative;
	width			:80px;
	height			:35px;
	line-height		:35px;
	margin			:5px 10px;
	border-radius	:5px;
	border			:1px solid #cccccc;
	background		:linear-gradient(#f0f0f0,#d0d0d0);
	text-align		:center;
	cursor			:pointer;
	font-size		:18px;
}

#cvs1{
	position	:absolute;
	top			:0;
	left		:0;
}


input[type=range] {
	-webkit-appearance	:none;
	appearance			:none;

	background		:#f17766;
	background		:#000090;
	height			:5px;
	width			:98%;
	display			:inline-block;
	border			:none;
	margin			:20px 0;
	border-radius	:0;
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	background		:#f17766;
	height			:20px;
	width			:20px;
	border-radius	:50%;
	border			:2px solid #800000;
}


input[type=range]::-ms-tooltip{
	display:none;
}


input[type=range]::-moz-range-track{
	height:0;
}

input[type=range]::-moz-range-thumb{
	background		:#fafafa;
	height			:40px;
	width			:40px;
	border-radius	:50%;
	border			:none;
}

.zoom_mi{
	display				:inline-block;
	height				:40px;
	width				:30px;
	flex-basis			:30px;
	border				:1px solid #f17766;
	border-radius		:10px 0 0 10px;
	line-height			:40px;
	text-align			:center;
	cursor				:pointer;
	background			:#ffe0f0;
	color				:#f17766;
	font-size			:24px;
	font-weight			:600;
}


.zoom_pu{
	display				:inline-block;
	height				:40px;
	width				:30px;
	flex-basis			:30px;
	border				:1px solid #f17766;
	border-radius		:0 10px 10px 0;
	line-height			:40px;
	text-align			:center;
	cursor				:pointer;
	background			:#ffe0f0;
	color				:#f17766;
	font-size			:24px;
	font-weight			:600;
}

.zoom_rg{
	display				:inline-block;
	height				:40px;
	line-height			:40px;
	flex				:1;
	border				:1px solid #f17766;
	background			:#ffe0f0
}

.zoom_box{
	border				:1pxvw solid #f17766;
	color				:#f17766;
	display				:inline-block;
	height				:40px;
	line-height			:40px;
	flex-basis			:50px;
	text-align			:center;
	margin-left			:5px;
	background			:#fafafa;
	font-weight			:600;
	font-size			:20px;
	border				:1px solid #f17766;
}

.upload_btn{
	display			:inline-block;
	position		:relative;
	width			:160px;
	height			:35px;
	line-height		:35px;
	margin			:10px 10px 10px 5px;
	border-radius	:5px;
	border			:1px solid #cccccc;
	background		:linear-gradient(#f0f0f0,#d0d0d0);
	text-align		:center;
	cursor			:pointer;
	font-size		:18px;
	vertical-align	:top;
}


.icon{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:20px;
	width			:20px;	
}

.upload_icon_p{
	display			:inline-block;
	position		:relative;
	width			:35px;
	height			:35px;
	line-height		:35px;
	font-family		:at_icon;
	font-size		:28px;
	vertical-align	:top;
}

.upload_txt{
	display			:inline-block;
	height			:35px;
	line-height		:38px;
	font-size		:20px;
	vertical-align	:top;
}

.upload_rote,.upload_trush{
	display			:inline-block;
	position		:relative;
	width			:45px;
	height			:35px;
	line-height		:35px;
	margin			:10px 5px;
	border-radius	:5px;
	border			:1px solid #cccccc;
	background		:linear-gradient(#f0f0f0,#d0d0d0);
	text-align		:center;
	cursor			:pointer;
	vertical	-align	:top;
}

.easytalk_sub{
	display			:flex;
	flex-wrap		:wrap;
	justify-content	:space-between;
	width			:300px;
	margin			:0;
	border			: 1px solid #c8b880;
    background		: #504540;
    vertical-align	: top;
   }


.easytalk_sub_genji{
	position			:relative;
	display				:inline-block;
	height				:40px;
	line-height			:40px;
	background			:linear-gradient(#c8b880 0%, #e0d098 50% , #c8b880 100%);
	font-size			:18px;
	font-weight			:600;
	padding-left		:10px;
	text-align			:left;
	margin				:0 auto;
	color				:#483800;
	text-shadow			:1px 1px 0 #ffffff;	
	width				:290px;
	font-family			:at_font1;
}

.easytalk_opt_flex{
	display		:block;
	margin		:0 auto;
	background	:#302520;
	border:1px solid #c8b880;
	width		:300px;

}

.easytalk_sub_img{
	width		:270px;
	margin		:15px 15px 5px 15px;
}

.easytalk_sub_link{
	display			:inline-block;
	width			:270px;
	height			:40px;
	line-height		:40px;
	margin			:5px 15px 10px 15px;
	background		:linear-gradient(#d0d0d0,#b0b0b0);
	background		:linear-gradient(#e0d098,#c8b880);
	font-size		:18px;
	font-weight		:600;
	color			:#483800;
	font-family		:at_font1;
	text-shadow		:1px 1px 0 #ffffff;
}

.easytalk_sub_opt{
	display			:inline-block;
	width			:270px;
	height			:40px;
	line-height		:40px;
	margin			:5px 15px 10px 15px;
	font-size		:16px;
	color			:#d0d0d0;
	text-align		:center
}

.easytalk_sub_top{
	display			:inline-block;
	width			:270px;
	height			:30px;
	line-height		:30px;
	margin			:0 15px;
	font-size		:16px;
	color			:#99a096;
	text-align		:right

}

.ck0{
	display				:none;
}

.ck0:checked + .check1{
	display				:inline-block;
}

.label_opt{
	font-size		:18px;
	display			:block;;
	position		:relative;
	width			:245px;
	padding-left	:35px;
	height			:30px;
	line-height		:30px;
	margin			:0 10px;
	color			:#c8b880;
	text-align		:left
}

.opt_done{
	color		:#ff3030;
	font-size	:16px;
	font-weight	:600;
	text-align	:center;
	height		:22px;
}




.check1{
	display				:none;
	position			:absolute;
	left				:8px;
	bottom				:1;
	width				:20px;
	height				:14px;
	border-bottom		:4px solid #a00000;
	border-left			:4px solid #a00000;
	transform			:rotate(-50deg);
	transform-origin	:left bottom
}

.check2{
	display				:inline-block;
	position			:absolute;
	left				:10px;
	top					:0;
	bottom				:0;
	margin				:auto;
	width				:16px;
	height				:16px;
	border				:2px solid #303030;
	background			:#fafafa;
}




@media screen and (max-width: 959px){

.easytalk_head{
	width			:100vw;
	min-width		:100vw;
	height			:10.5vw;
}

.easytalk_head_box{
	width			:94vw;
	height			:10.5vw;
}

.easytalk_main{
	width			:100vw;
	min-height		:calc(100vh - 21vw);
	vertical-align	:top;
	padding-top		:2vw;
}


.easytalk_head_msg{
	height		:10vw;
	line-height	:15vw;
	font-size	:5vw;
}

.easytalk_head_logo{
	height		:10vw;
	flex-basis	:30vw;
}


.easytalk_foot{
	margin		:2vw auto 0 auto;
	border-top	:1vw solid #302520;
}


.mail_box_new,.mail_box_new_ng{
	width			:68vw;
	border-radius	:2vw;
}

.mail_box_new_in{
}

.mail_box_new_msg,.mail_box_new_msg2{
	height			:8vw;
	line-height		:8vw;
	font-size		:4vw;
	margin			:1vw 2vw;
}

.mail_box_new_del{
	right:0;
	height			:8vw;
	line-height		:8vw;
	width			:6vw;
	font-size		:4vw;
}

.mail_box_icon{
	height			:6vw;
	line-height		:6vw;
	width			:8vw;
	font-family		:at_icon;
	vertical-align	:middle;
	font-size		:5vw;
	text-align		:center;
}

.mail_box_new_log_out{
	width		:64vw;
	height		:32vw;
	margin		:2vw auto;
}

.mail_box_new_log{
	width		:80vw;
	height		:40vw;
	line-height	:7vw;
	font-size	:5vw;
	padding		:2vw;
    font-size	:5vw;
    background	:#fafafa;
	transform	: scale(0.8,0.8);
	transform-origin:left top;	
}

.mail_box_f_img{
	width	:16vw;
	height	:16vw;
	margin	:1vw;	
}

.blog_img{
	width:70%;
	margin:1vw auto 3vw auto;

}

.mail_box_new_img{
	width	:31vw;
	height	:31vw;
	margin	:1vw 2vw 1vw 1vw ;	
}
.mail_box_new_tmpl{
	margin	:1vw 1vw 1vw 0;	
	height	:31vw;
	width	:30vw;
}

.mail_box_new_list{
	font-size	:3vw;
	height		:6vw;
	line-height	:6vw;
	text-align	:left;
	padding-left:2vw;
}

.mail_box_new_btn{
	margin		:1vw auto;
	width		:63vw;
	height		:10vw;
	font-size	:4vw;
	background	:linear-gradient(#90a0ff,#6090ff);
	margin		:2vw auto 5vw auto;
	color		:#fafafa;
}


.img_box{
	top				:1000vh;
	width			:70vw;
	height			:110vw;
	border-radius	:2vw
}

.img_box_in{
	top				:0vw;
	width			:60vw;
	height			:60vw;
	border			:0.5vw solid #606060;
}

.img_box_in2{
	margin			:2vw auto;
	width			:60vw;
	height			:36vw;
}

.img_box_in3{
	display			:flex;
	flex-wrap		:nowrap;
	width			:56vw;
	height			:10vw;
	margin			:0vw auto;
}


.img_box_out1{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:0;
	width		:5vw;
	height		:5vw;
	z-index		:27;
}

.img_box_out2{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0;
	left		:5vw;
	width		:50vw;
	height		:5vw;
	border-bottom:1px solid #ff0000;
	z-index		:27;
}

.img_box_out3{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:0vw;
	right		:0vw;
	width		:5vw;
	height		:5vw;
	z-index		:27;
}

.img_box_out4{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:5vw;
	left		:0;
	width		:5vw;
	height		:50vw;
	border-right:1px solid #ff0000;
	z-index		:27;
}

.img_box_out5{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	top			:5vw;
	right		:0;
	width		:5vw;
	height		:50vw;
	border-left	:1px solid #ff0000;
	z-index		:27;
}

.img_box_out6{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0;
	left		:0;
	width		:5vw;
	height		:5vw;
	z-index		:27;
}

.img_box_out7{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0vw;
	left		:5vw;
	width		:50vw;
	height		:5vw;
	border-top	:1px solid #ff0000;
	z-index		:27;
}

.img_box_out8{
	position	:absolute;
	background	:rgba(255,255,255,0.6);
	bottom		:0vw;
	right		:0;
	width		:5vw;
	height		:5vw;
	z-index		:27;
}



.btn_c1{
	width			:30vw;
	height			:8vw;
	line-height		:8vw;
	margin			:1vw 2vw;
	border-radius	:2vw;
	font-size		:4vw;
}

.btn_c2{
	top				:-4vw;
	right			:-4vw;

	width			:10vw;
	height			:10vw;
	line-height		:10vw;
	font-size		:6vw;
}


.btn_c3{
	width			:20vw;
	height			:8vw;
	line-height		:8vw;
	margin			:1vw 2vw;
	border-radius	:2vw;
	font-size		:4vw;
}



#cvs1{
	position	:absolute;
	top			:0;
	left		:0;
	width		:60vw;
	height		:60vw;
}

input[type=range] {
	height			:1vw;
	margin			:3.5vw 0;
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	background		:#f17766;
	height			:20px;
	width			:20px;
	border-radius	:50%;
	border			:2px solid #800000;
}


input[type=range]::-ms-tooltip{
	display:none;
}


input[type=range]::-moz-range-track{
	height:0;
}

input[type=range]::-moz-range-thumb{
	height			:6vw;
	width			:6vw;
}

.zoom_mi{
	height				:8vw;
	width				:6vw;
	flex-basis			:6vw;
	border-radius		:2vw 0 0 2vw;
	line-height			:8vw;
	font-size			:5vw;
}


.zoom_pu{
	height				:8vw;
	width				:6vw;
	flex-basis			:6vw;
	border-radius		:0 2vw 2vw 0;
	line-height			:8vw;
	font-size			:5vw;
}

.zoom_rg{
	height				:8vw;
	line-height			:8vw;
}

.zoom_box{
	height				:8vw;
	flex-basis			:12vw;
	line-height			:8vw;
	margin-left			:1vw;
	font-size			:4.5vw;
}

.upload_btn{
	width			:33vw;
	height			:8vw;
	line-height		:8vw;
	margin			:2vw;
	border-radius	:2vw;
	font-size		:4.5vw;
}

.upload_rote,.upload_trush{
	display			:inline-block;
	position		:relative;
	width			:8vw;
	height			:8vw;
	line-height		:8vw;
	margin			:2vw 1vw;
	border-radius	:2vw;
}

.icon{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:20px;
	width			:20px;	
}

.upload_icon_p{
	display			:inline-block;
	position		:relative;
	width			:8vw;
	height			:8vw;
	line-height		:8vw;
	font-family		:at_icon;
	font-size		:6vw;
}

.upload_txt{
	display			:inline-block;
	height			:8vw;
	line-height		:8vw;
	font-size		:4vw;

}


.mail_box_a,.mail_box_b{
	padding			:5vw 1vw 1vw 1vw;
	margin			:2vw auto;
}

.mail_box_log_1{
	width			:65%;
	border-radius	:2vw 2vw 5vw 2vw;
}

.mail_box_log_2{
	width			:65%;
	border-radius	:2vw 2vw 2vw 5vw;
}

.mail_box_date_a{
	top			:1vw;
	left		:22vw;
	height		:4vw;
	line-height	:4vw;
	font-size	:3.2vw;
}
.mail_box_date_b{
	width:62vw;
    height		: 4vw;
    line-height	: 4vw;
    font-size	: 3.2vw;
    
}

.mail_box_face{
	min-height		:14vw;	
	width			:14vw;
	border-radius	:1.5vw;
	border			:1vw solid #ffc0e0;
	margin			:4vw 2vw 0 0.5vw;
}

.mail_box_img{
	width			:14vw;
}


.mail_box_log_1{
	width			:62vw;
	font-size		:3.5vw;
	line-height		:6vw;
	border			:1vw solid #ffc0e0;
	border-radius	:1vw 1vw 4vw 1vw;
	padding			:0vw;
	min-height		:12vw;
}

.mail_box_log_2{
	width			:62vw;
	font-size		:3.5vw;
	line-height		:6vw;
	border-radius	:1vw 1vw 1vw 4vw;
	padding			:0vw;
	min-height		:12vw;
}


.mail_box_log_in{
    font-size	:3.5vw;
    line-height	:5vw;
    padding		:1vw;
}


.mail_box_stamp{
	width			:60%;
	height			:auto;
}


.mail_box_log_0{
	width			:18vw;
}

.easytalk_sub{
	display		:block;
	margin		:2vw auto;
	position	:relative;
	width		: calc(94vw + 2px);
	width		:94vw;
	height		:19vw;
   }


.easytalk_sub_genji{
	position			:absolute;
	top					:1vw;
	left				:20vw;
	height				:6vw;
	line-height			:6vw;
	background			:none;
	font-size			:4.5vw;
	font-weight			:600;
	padding-left		:0;
	color				:#c8b880;
	text-shadow:none;
	width				:36vw;
}


.easytalk_sub_img_out{
	position	:absolute;
	top			:1vw;
	left		:1vw;
	height		:15vw;
	width		:15vw;
	border		:1vw solid #ffc0e0;
	border-radius:1.5vw;
	overflow	:hidden;
}

.easytalk_sub_img{
	position	:absolute;
	top			:0vw;
	left		:0vw;
	height		:20vw;
	width		:15vw;
	margin		:0;

}

.easytalk_sub_link{
	display			:inline-block;
	position		:absolute;
	bottom			:1vw;
	left			:20vw;
	width			:20vw;
	height			:7vw;
	line-height		:7vw;
	margin			:0vw;
	font-size		:4vw;
}

#e_blog{
	left			:42vw

}

.easytalk_sub_opt{
	display			:inline-block;
	position		:absolute;
	bottom			:1vw;
	right			:1vw;
	width			:20vw;
	height			:4vw;
	line-height		:4vw;
	margin			:0;
	font-size		:3.6vw;
	text-align:right;
}

.easytalk_sub_top{
	position		:absolute;
	top				:1vw;
	right			:1vw;
	width			:50vw;
	height			:6vw;
	line-height		:6vw;
	margin			:0;
	font-size		:3.6vw;
}


}
/*/--------------------------------------------------------------*/

.bg2{
	color			:#909090;
}

.bg{
	color			:#303030;
	background		:#30e020;
}

.bg1{
	color			:#000000;
	background		:#d0ffe0;
}
