@media screen and (max-width: 959px){
.pc_only{
	display		:none;
}
.sp_only{
	display		:block;
}

.twitter-timeline{
	width:94vw !important;
	height:100vw !important;
}

.news_a{
	order:1;
}

.news_b{
	order:0;
}

.sel_year{
	font-size		:3vw;
	height			:4vw;
	line-height		:4vw;
	width			:12vw;
	flex-basis		:12vw;
	padding-right	:1vw;
}

.news_tag{
	display			:flex;
	width			:calc( 94vw + 1px);
	margin			:0 auto;
	border-left		:1px solid #c8b880;
}

.news_tag_list{
	flex			:1;
	height			:6vw;
	line-height		:6vw;
	font-size		:2.5vw;
	border-top		:1px solid #c8b880;
	border-right	:1px solid #c8b880;
	border-bottom	:none;
}


.no_news{
	font-size		:3vw;
	height			:6vw;
	line-height		:6vw;
}


.back_img{
	display			:none;
}

.menu_item{
	display		:inline-block;
	height		:5vw;
	line-height	:5vw;
	width		:13vw;
	flex-basis	:13vw;
	margin		:0.5vw 0;
}

.menu_item a{
	font-size	:2.8vw;
	height		:5vw;	
	line-height	:5vw;
}

.rec_img{
	width:100vw;
	margin:0 auto 2vw auto;
}

.info_box{
	display		:flex;
	flex-wrap	:wrap;
	width		:94vw;
	margin		:0 auto 2vw auto;
	padding		:0;
}


.info_img_out{
	width			:94vw;
	flex-basis		:94vw;
	height			:24.5vw;
}

.info_img{
	width			:94vw;
	flex-basis		:94vw;
	height			:23.5vw;
	margin			:1vw 0 0 0 ;
}


.head{
	min-width		:100vw;
	height			:13.5vw;
}

.head_logo{
	width			:24vw;
	flex-basis		:24vw;
	height			:8vw;
}

.head_img{
	width			:24vw;
	height			:8vw;
}


.head_b{
	height			:8vw;
	width			:99vw;
}

.head_b_table{
	margin:1vw 1vw auto auto;
}

.head_in{
	width			:100vw;
	height			:6vw;
}

.head_tel{
	display			:none;
}

.head_b_ttl{
	font-size		:2.5vw;
	height			:3vw;
	line-height		:3vw;
	width			:10vw;
}

.head_b_0,.head_b_1{
	display			:none;
}

.head_b_2{
	font-size		:2.5vw;
	height			:3.5vw;
	line-height		:3.5vw;
	width			:12vw;
}

.head_b_3{
	font-size		:2.5vw;
	height			:3.5vw;
	line-height		:3.5vw;
	width			:22vw;
}


.news_all{
	right			:4vw;
	font-size		:3vw;
}

.top_comm_in{
	border				:1px solid #c8b880;
	margin				:0.5vw;
	position			:relative;
}

.top_comm_log{
	font-size			:2.5vw;
	line-height			:4vw;
	padding				:2vw;
}

.top_comm_title{
	border-bottom		:0.5vw double #f8e8c0;
	font-size			:3vw;
	font-weight			:700;
	height				:6vw;
	line-height			:6vw;
	margin				:2vw auto;
	width				:70vw;
}

.top_comm{
	border				:0.5vw solid #c8b880;
	margin				:2vw auto 5vw auto;
	width				:90vw;
}

.top_img{
	left			:100vw;
	width			:100vw;
	height			:40vw;
}


.top_img_in{
	width		:100vw;
	height		:40vw;
}


.main{
	background		:#000000;
	width			:100vw;
	padding			:0 0 2vw 0;
}


.main_b_td_1{
	width:18vw;
	height:10vw;
}

.main_b_td_3{
	width:5vw;
}

.main_flex_a{
	flex-basis	:94vw;
	text-align	:center;
	margin		:0 auto;
}

.main_flex_b{
	display:flex;
	flex-basis	:97vw;
	text-align	:center;
	margin		:0 auto;
}


.event_click{
	bottom			:1vw;
	right			:2vw;
	width			:15vw;
	height			:4vw;
	line-height		:4.5vw;
	border-radius	:3vw;
	border			:0.5vw solid #d00000;
	font-size		:3vw;
	padding-left:2vw;
}


.event_click_al{
	top				:0.5vw;
	right			:1vw;
	height			:3vw;
	width			:3vw;
	border-radius	:1.5vw;
	background		:#d00000;	
}


.event_click_al_in{
	position		:absolute;
	top				:0.8vw;
	right			:1vw;
	height			:1vw;
	width			:1vw;
	border-top		:0.5vw solid #fafafa;
	border-right	:0.5vw solid #fafafa;
}


.foot{
	margin		:0 auto;
	border-top	:1vw solid #302520;
}

.foot_in{
	width		:100vw;
	padding-bottom:5vw;
}

.foot_a{
	margin		:0.5vw auto;
}


.foot_a_in{
	padding:0.5vw 2vw;
	font-size	:2vw;
}
.foot_b{
	width		:40vw;
}


.foot_c_in{
	width		:40vw;
	height		:2vw;
	line-height	:2vw;
	font-size	:2vw;
	margin		:0 auto;
}

.signet{
	width		:100vw;
	height		:5vw;
	line-height	:5vw;
	font-size	:2vw;
}

.foot_logo{
	width		:40vw;
	margin		:1vw auto;
}

.menu{
	width		:99vw;
}

.menu-item {
	height		:4vw;
	line-height	:4vw;
	border		:1px solid #c8b880;
	margin		:0.5vw;
}

.menu-item a{
	font-size	:2.5vw;
	height		:4vw;	
	line-height	:4vw;
}

.footmark{
	width		:94vw;
	height		:4vw;
	margin		:0.5vw auto 1vw auto;
}

.footmark_box{
	height			:3vw;
	line-height		:3vw;
	min-width		:10vw;
	margin			:0 1vw;	
}

.box_a{
}

.footmark_icon{
	width		:2.5vw;
	height		:3vw;
	line-height	:3vw;
	font-size	:2vw;
}

.footmark_text{
	height			:3vw;
	line-height		:3vw;
	text-align		:left;
	font-size		:2vw;
	max-width		:40vw;
}

.main{
	width		:100vw;
	padding-top	:14vw;;
}

.main_top{
	width		:100vw;
	min-height	:auto;
}

.main_b_top2{
	display		:flex;
	width		:94vw;
	margin		:0 auto 2vw auto;
	justify-content: space-between;
}

.side2_img{
	width		:45vw;
	flex-basis	:46vw;
	height		:15vw;
}


.main_top_flex{
	width		:calc(94vw + 2px);
	flex-wrap	:wrap;
}


.main_article{
	width			:94vw;
	margin			:0 auto 1vw auto;
	padding:0;
}


.page_box{
	width			:94vw;
	height			:6vw;
	line-height		:6vw;
	margin			:0 auto 2vw auto;
}

.blog_h1{
	display			:inline-block;
	width			:44vw;
	height			:5vw;
	line-height		:5vw;
	font-size		:3vw;
	padding-left	:1vw;
}

.all_cast{
	width			:46vw;
	height			:10vw;
	line-height		:10vw;
}


.all_cast_name{
	bottom			:1vw;
	left			:11vw;
	width			:35vw;
	height			:3vw;
	line-height		:3vw;
	font-size		:3vw;
}

.all_cast_img{
	top				:0vw;
	left			:0vw;
	width			:10vw;
	height			:10vw;
}

.all_cast_last{
	top				:1vw;
	left			:11vw;
	width			:25vw;
	height			:2.5vw;
	line-height		:2.5vw;
	font-size		:2vw;
}

.all_cast_count{
	top				:1vw;
	right			:1vw;
	width			:8vw;
	height			:3vw;
	line-height		:3vw;
	font-size		:2.5vw;
	border-radius	:0.5vw;
	padding-right	:0.5vw;
}


.all_tag{
	width			:44vw;
	height			:6vw;
}

.all_tag_name{
	flex-basis		:35vw;
	height			:6vw;
	line-height		:6vw;
	font-size		:3vw;
}

.all_tag_icon{
	flex-basis		:6vw;
	height			:6vw;
	line-height		:6vw;
	font-size		:4vw;
}

.all_tag_count{
	flex-basis		:6vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2.5vw;
	border-radius	:1vw;
	margin			:1vw;
	padding-right	:1vw;
}



.page_n{
	width		:5vw;
	height		:4vw;
	line-height	:4vw;
	margin		:1vw auto ;
	border		:1px solid #e8d8a0;
	font-size	:2.5vw;
}

.main_blog_title{
	width			:93vw;
	height			:4vw;
	line-height		:4vw;
	margin			:0 auto;
	font-size		:2.5vw;
	padding-left	:1vw;
}

.blog_ttl_border{
	width		:92vw;
	margin		:1vw auto 4vw auto;
}

.blog_ttl{
	max-height	:10vw;
	line-height	:5vw;
	font-size	:3vw;
	width		:88vw;
	margin		:1vw auto;
}

.blog_ttl_btm{
	width		:88vw;
	height		:10vw;
	margin-left	:2vw;
}

.blog_ttl_tag{
	bottom			:1vw;
	width			:18vw;
	height			:4vw;
	border-radius	:0.5vw;
	text-align		:left;
	font-size		:3vw;
}



.blog_ttl_date{
	width		:45vw;
	height		:4vw;
	line-height	:4vw;
	font-size	:2.5vw;
}

.blog_log{
	display		:block;
	width		:88vw;
	min-height	:20vw;
	font-size	:2.2vw;
	color		:#c8c0b0;
	text-align	:left;
	margin		:0 auto;
	line-height	:3.5vw;
}


.sub_blog{
	display			:inline-flex;
	width			:45vw;
	flex-basis		:45vw;
	text-align		:center;
	flex-wrap		:nowrap;
	justify-content	:space-between;
	align-items		:flex-start;
	vertical-align	:top;
	margin			:0;
}

.sub_blog_pack_a{
	width			:calc(46vw + 2px);
	flex-basis		:calc(46vw + 2px);
}

.sub_blog_pack_b{
	width			:calc(45vw + 2px);
	flex-basis		:calc(45vw + 2px);
}

.sub_blog_cast{
	width		:47vw;
	flex-basis	:47vw;
	margin-bottom:2vw;
}
.sub_blog_in2{
	width		:42vw;
	flex-basis	:42vw;
}

.sub_blog_in{
	width		:45vw;
	flex-basis	:45vw;
}

.blog_cast_left{
	width		:17vw;
	flex-basis	:17vw;
	margin		:0vw;
	padding:0;
}

.blog_cast_right{
	border-spacing	: 0 0.2vw;
	margin			:0.8vw 0vw;
	width			:29vw;
	flex-basis		:29vw;
}

.blog_cast_img{
	width		:15vw;
	height		:20vw;
	margin		:1vw 1vw 0 1vw;
}

.schep_l_0,
.schep_l_1,
.schep_l_2,
.schep_l_3,
.schep_l_4,
.schep_l_5,
.schep_l_6
{
	padding-left:0.5vw;
	height		:3vw;
	line-height	:3vw;
	width		:12vw;
	font-size	:1.8vw;
}


.schep_r_0,
.schep_r_1,
.schep_r_2,
.schep_r_3,
.schep_r_4,
.schep_r_5,
.schep_r_6
{
	padding-left:0.5vw;
	height		:3vw;
	line-height	:3vw;
	width		:16vw;
	font-size	:1.8vw;
}

.blog_cast_link{
	width		:15vw;
	margin		:0.2vw auto;
	height		:4vw;
	line-height	:4vw;
	font-size	:2.5vw;
	font-weight	:600;
}


.slide{
	width		:100vw;
	flex-basis	:100vw;
	margin:0 auto 2vw auto;
}

.slide_img{
	width		:100vw;
	height		:40vw;
}

.slide_img_cv{
	width		:100vw;
	height		:40vw;
}

.event_img{
	width		:100vw;
	height		:40vw;
	margin:0 auto 5vw auto;;
}

.slide_point{
	bottom			:3vw;
	height			:8vw;
	line-height		:8vw;
	border-radius	:2vw;
	border			:0.5vw solid #c8b880;
	padding			:0 2.5vw;
	margin:2vw auto 1vw auto;
}

.slide_dot{
	width			:3vw;
	height			:3vw;
	border-radius	:1.5vw;
	margin			:2.5vw;

}

.dot_on{
	box-shadow:0px 0px 1vw 1vw rgba(250,250,220,0.7) ;
}


.main_b{
	width			:96vw;
	margin			:0 auto;
	padding			:0;
}

.main_b_top{
	width			:94vw;
	margin			:0 auto 2vw auto;
	border-radius	:0 0 1vw 1vw;
	padding-bottom	:1vw;
}

.main_b_notice{
	width			:90vw;
	height			:10vw;
}



.main_b_notice_date{
	top				:1vw;
	left			:0.5vw;
	bottom			:auto;
	width			:17vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:3vw;
}

.main_b_notice_tag{
	top				:5vw;
	left			:0.5vw;
	bottom			:auto;
	width			:17vw;
	height			:4.5vw;
	line-height		:4.5vw;
	font-size		:3vw;
}

.main_b_notice_title{
	top				:0.5vw;
	left			:19vw;
	width			:64vw;
	padding-left	:1vw;
	font-size		:3.2vw;
	overflow		:hidden;
}


.main_b_notice_arrow{
	right			:1.5vw;
	width			:2vw;
	height			:2vw;
	border-top		:0.5vw solid #c8b880;
	border-right	:0.5vw solid #c8b880;
}

.main_d,.main_b_in{
	width			:92vw;
	padding			:1vw;
	min-height		:auto;

}

.main_e{
	width			:92vw;
	margin			:2vw auto 5vw auto;
}

.main_e_in{
	width			:85vw;
	padding			:3vw 3vw 8vw 3vw;
	margin			:0.5vw auto;
	min-height		:20vw;
}

.main_e_f{
	font-size	:12vw;
	width		:12vw;
	height		:12vw;
}

.corner{
	background		:#000000;
}



.main_d_title,.main_b_title{
	width			:calc( 91.5vw + 2px );
	height			:6vw;
	line-height		:6vw;
	margin			:0 auto;
	font-size		:3vw;
	padding-left	:2.5vw;
	border-radius:2vw 2vw 0 0; 
}


.main_d_1,.main_b_1{
	width			:28vw;	
	height			:50vw;
	margin			:0.8vw;

	border-top		:0.5vw solid #f8e8b0;
	border-left		:0.5vw solid #f8e8b0;
	border-right	:0.5vw solid #483800;
	border-bottom	:0.5vw solid #483800;
}
.main_d_1:before,.main_b_1:before{
	display:none;
}

.main_b_1_0{
	width			:43vw;	
	height			:74vw;
}

.main_d_1_1,.main_b_1_1{

	top				:1vw;
	width			:25.5vw;
	height			:34vw;
	border-top		:0.5vw solid #483800;
	border-left		:0.5vw solid #483800;
	border-right	:0.5vw solid #f8e8b0;
	border-bottom	:0.5vw solid #f8e8b0;

}

.main_d_1_2,.main_b_1_2{
	position		:absolute;
	display			:inline-block;
	top				:37vw;
	width			:24vw;
	height			:9.5vw;
	background		:rgba(245,245,245,0.8);
	padding			:1vw;
}

.main_d_1_2_name,.main_b_1_2_name{
	width		:24vw;
	height		:3vw;
	line-height	:3vw;
	font-size	:3vw;
	margin		:1.5vw auto 2vw auto;
}

.main_d_1_2_sch,.main_b_1_2_sch{
	width		:24vw;
	height		:3vw;
	line-height	:3vw;
	font-size	:2.5vw;
}


.main_b_1_2_f{
	font-size	:5vw;	
}

.main_b_1_2_h{
	height			:10vw;
	width			:14vw;
}

.main_b_1_ribbon{
	left			:-7vw;
	top				:3vw;
	width			:20vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2vw;
}



.main_c{
	width		:96vw;
	height		:auto;
	margin		:1vw auto;
	border		:none;
	text-align	:center;
	overflow	:hidden;
}

.blog_list{
	width			:calc(46vw - 2px);
	height			:15vw;
	border			:1px solid #c8b880;
	margin			:0.5vw;
}

.blog_list_img{
	top			:1vw;
	left		:1vw;
	width		:13vw;
	height		:13vw;
}

.blog_list_title{
	top				:0.5vw;
	left			:15vw;
	width			:30vw;
	height			:5.8vw;
	line-height		:3vw;
	font-size		:2.5vw;
}

.blog_list_cast{
	bottom			:0.5vw;
	right			:0.5vw;
	width			:30.5vw;
	height			:7vw;
}

.blog_list_tag{
	bottom			:3vw;
	left			:0vw;
	height			:4vw;
	border-radius	:0.5vw;
	padding			:0 0.5vw;
	width			:15vw;
}

.blog_list_icon{
	left			:0;
	height			:4vw;
	line-height		:4vw;
	width			:2.5vw;
	font-size		:2.2vw;
}

.blog_list_tcomm{
	height			:4vw;
	line-height		:4vw;
	font-size		:2vw;
	padding-left	:0;
}

.blog_list_castimg{
	width		:5vw;
}

.blog_list_frame_a{
	right		:0vw;
	bottom		:0vw;
	width		:5vw;
	height		:5vw;
	overflow	:hidden;
}

.blog_list_date{
	right		:0vw;
	bottom		:5.5vw;
	font-size	:1.5vw;
}

.blog_list_castname{
	right		:6vw;
	bottom		:0vw;
	font-size	:2vw;
}


.blog_calendar_out{
	flex-basis		:50vw;
	margin			:0;
}

.blog_calendar{
	width:47vw;
}
.blog_calendar_m{
	height			:5vw;
	line-height		:5vw;
	font-size		:3vw;
}

.blog_calendar_n{
	height			:5vw;
	line-height		:5vw;
	font-size		:3vw;
}

.blog_calendar_w{
	height			:4vw;
	line-height		:4vw;
	font-size		:2.5vw;
}

.blog_calendar_d{
	height			:6.5vw;
	line-height		:6.5vw;
}

.cal,.cal1{
	height			:5vw;
	line-height		:5vw;
	width			:5vw;
	font-size		:2.5vw;
}

.cal1{
	border-radius	:2.5vw;
}


.access_table{
	width		:80vw;
	margin		:2vw auto;
	height		:auto;
	flex-wrap	:wrap;
}

.access_map{
	margin		:0 auto 2vw auto;
	width		:80vw;
	height		:80vw;
	flex-basis	:80vw;
}

.access_map_in{
	width		:80vw;
	height		:80vw;
}

.access_sig{
	width			:78vw;
	flex-basis		:78vw;
	margin			:1vw auto 2vw auto;
	font-size		:0;
	text-align		:center;
}

.access_tag{
	font-size		:3.5vw;
	width			:78vw;
	height			:5vw;
	line-height		:5vw;
	margin			:2vw auto 1vw auto;
	padding-left	:1vw;
}

.access_box{
	font-size		:3.5vw;
	line-height		:6vw;
	width			:74vw;
	margin			:1vw auto 5vw auto;
}


.access_h1{
	font-size		:4.5vw;
	width			:78vw;
	height			:8vw;
	line-height		:8vw;
	margin			:1vw auto 4vw auto;
	padding-left	:1vw;
}

.sys_box{
    width			:90vw;
	padding			:2vw;
	margin			:2vw auto;
}

.c_tr{
	top		:-1vw;
	right	:0;
}

.c_tl{
	top		:-1vw;
	left	:0;	
}

.c_bl{
	bottom	:-1vw;
	left	:0;
}

.c_br{
	bottom	:-1vw;
	right	:0;
}

.sys_box_log{
	width			:80vw;
	line-height		:5.5vw;
	margin			:1vw auto 5vw auto;
	font-size		:3vw
}

.no_info{
	height		:10vw;
	line-height	:10vw;
	font-size		:3vw
}


.sys_box_ttl{
	font-size		:3.5vw;
	width			:75vw;
	height			:4vw;
	line-height		:5vw;
	margin			:2vw auto;
	border-bottom	:double 1vw #c8c0b0;
	font-szie		:3.5vw
}

.system_title{
	height			:4vw;
	line-height		:4vw;
	flex-basis		:72vw;
	font-size		:3vw;
	width			:78vw;
	border-left		:1vw solid #c8c0b0;
	padding-left	:1vw;
	margin-bottom	:1vw;
}

.system_box{
	margin			:0 auto 5vw auto;
	width			:78vw;
	flex-basis		:78vw;
	text-align		:left;
	padding			:1vw;
}

.system_box_1{
	width			:40vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2.5vw;
}

.system_box_2{
	width			:15vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2.5vw;
}


.system_box_3{
	width			:20vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2.5vw;
}

.cast_tag{
	width			:94.5vw;
	height			:auto;
	margin			:0 auto 2vw auto;
}

.cast_tag_box{
	flex			:1;
	height			:10vw;
	text-align		:left;
	border-radius	:0;
	font-weight		:400;
	border			:1px solid #c8b880;
}

.tag_pc{
	display:none;
}

.tag_sp{
	display			:inline-block;
	position		:absolute;
	top				:1vw;
	left			:0;
	right			:0;
	margin			:auto;
	font-size		:3.2vw;
	line-height		:4vw;
	width			:100%;
	text-align		:center;
}


.rec{
	width		:92vw;
}

.rec_l{
	flex-basis	:30vw;
	font-size	:3vw;
	padding		:1vw;
}

.rec_r{
	font-size	:3vw;
	padding		:1.5vw;
	line-height	:4vw;
}

.person_main{
	flex-wrap		:wrap;
	width			:100vw;
	margin			:0 auto;
}

.person_left{
	width			:50vw;
	flex-basis		:50vw;
	min-height		:auto;
	margin			:0 1vw;
	flex-wrap		:wrap;
	align-content	:flex-start;

}


.person_middle{
	flex-basis		:46vw;
	text-align		:center;
	min-height		:auto;
}

.person_right{
	display:none;
}

.person_left_blog{
	display		:block;
	margin		:0 auto;
	width		:50vw;
}

.prof{
	border-spacing: 0px 0.5vw;
	margin:0vw auto 3vw auto;
	width:44vw;
}
.sche{
	margin:0vw auto 1vw auto;
	width:44vw;
}

.prof_l{
	padding		:0 0.5vw;
	height		:4vw;
	line-height	:4vw;
	width		:16vw;
	font-size	:2vw;
}


.prof_r{
	padding		:0 0.5vw;
	height		:4vw;
	line-height	:4vw;
	width		:auto;
	font-size	:2vw;
}

.prof_l2{
	width		:auto;
	padding-left:1vw;
	height		:3vw;
	line-height	:3vw;
	font-size	:2vw;
}


.prof_r2{
	width		:auto;
	padding		:1vw;
	min-height	:4vw;
	line-height	:3vw;
	font-size	:2vw;
}

.sche_l_0,
.sche_l_1,
.sche_l_2,
.sche_l_3,
.sche_l_4,
.sche_l_5,
.sche_l_6
{
	padding		:0 0.5vw;
	height		:4vw;
	line-height	:4vw;
	width		:16vw;
	font-size	:2vw;
}


.sche_r_0,
.sche_r_1,
.sche_r_2,
.sche_r_3,
.sche_r_4,
.sche_r_5,
.sche_r_6
{
	padding		:0 0.5vw;
	height		:4vw;
	line-height	:4vw;
	width		:auto;
	font-size	:2vw;
}


.person_blog{
	width			:50vw;
	height			:12vw;	
}

.person_blog_no{
	width			:50vw;
	height			:12vw;	
	font-size		:2vw;	
	text-align		:center;
}

.cast_blog{
	width			:44vw;
	height			:12vw;	
}


.person_blog_img{
	top				:0.5vw;
	left			:0.5vw;
	width			:11vw;
	height			:11vw;	
}

.person_blog_date{
	top				:1vw;
	left			:12vw;
	width			:14vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:2.2vw;
}

.person_blog_tag{
	width			:16vw;
	height			:4vw;
	line-height		:4vw;
    border-radius	:0.5vw;
	padding-left	:0.5vw;
}

.person_blog_i{
	width			:4vw;
	height			:3.5vw;	
	line-height		:3.5vw;	
	font-size		:2.5vw;
}

.person_blog_c{
	left			:4.5vw;
	width			:15vw;
	height			:3.5vw;	
	line-height		:3.5vw;	
	overflow		:hidden;
	font-size		:2vw;
}

.person_blog_title{
	top				:5vw;
	left			:12vw;
	width			:32vw;
	height			:6vw;	
	line-height		:3.5vw;	
	font-size		:2.2vw;
}


.sche_block1{
	width			:5vw;
	padding-left	:0.5vw;
}


.person_img_box{
	width			:39vw;
	height			:52vw;	
	margin-bottom	:3vw;
}

.person_img_main,.person_img_top{
	top				:0;
	left			:0;
	width			:39vw;
	height			:52vw;	
}



.person_img_list{
	align-content	:flex-start;
	flex-wrap		:wrap;
	top				:0;
	width			:9vw;
	height			:52vw;
	vertical-align	:top;
	margin			:0 0 3vw 0;
}

.person_img_sub{
	width			:9vw;
	height			:12vw;
	margin-right	:0;
	margin-bottom	:1.3vw;
}


.check_box{
	margin-bottom	:3vw;
	width			:43vw;
	padding			:0.5vw;
}

.check_set1,.check_set{
	font-size		:2vw;
	height			:4vw;
	line-height		:4vw;
	border-radius	:0.5vw;
	flex-basis		:13.3vw;
	margin			:0.5vw;
}


.prof_title,.blog_title,.check_title{
	width			:43vw;
	height			:4vw;
	line-height		:4vw;
	margin			:0 auto;
	font-size		:2.5vw;
	padding-left	:1vw;
	border-radius	:1vw 1vw 0 0; 
}

.blog_title{
	width			:49vw;
}



.contact_box{
	width			:81vw;
	margin			:3vw auto 1vw auto;
}

.recruit_contact{
	width		:38vw;
	height		:10vw;
}

.recruit_contact_title{
	width			:92vw;
	margin-top:3vw;
}


.recruit_contact_box{
	width			:82vw;
    margin			:0 auto 5vw auto;
    border-radius	: 0 0 2vw 2vw;
	padding			:5vw;
}

.recruit_send{
	width			:60vw;
	margin			:2vw auto 2vw 11vw;;
	height			:6vw;
	font-size		:3vw;
}

.recruit_send2{
	width			:120px;
	margin			:10px 5px;
	height			:30px;
	text-align		:center;
	font-size		:16px;
	font-weight		:600;
	border-radius	:10px;
	color			:#fafafa;
	background		:#6060ff;
	border			:none;
}



.contact_icon{
	left		:0vw;
	width		:8vw;
	line-height	:10vw;
	height		:10vw;
	font-size	:8vw;
}

.contact_comm{
	left		:8vw;
	top			:0.8vw;
	height		:5vw;
	line-height	:5vw;
	font-size	:3vw;	
}

.contact_no{
	left		:8vw;
	bottom		:0.8vw;
	height		:5vw;
	line-height	:5vw;
	font-size	:3vw;	
}


.contact_tag{
	display			:inline-block;
	font-size		:2.5vw;
	padding-left	:13vw;
	width			:38vw;
	height			:4vw;
	line-height		:4vw;
	vertical-align:bottom;
}

.nec{
	font-size		:3vw;
	margin-left		:2vw;
}

.contact{
	margin-left		:11vw;
	height			:6vw;
	font-size		:3vw;
	margin-bottom	:2vw;
	width			:60vw;
}

.contact_area{
	margin-left		:11vw;
	height			:15vw;
	font-size		:3vw;
	margin-bottom	:2vw;
	width			:60vw;
	padding			:1vw;
}

.contact_err{
	vertical-align	:top;
	height			:4vw;
	line-height		:5vw;
	width			:20vw;
	margin-right	:0;
	padding-right	:0;
}

.err_on{
	box-shadow		:0 0 0 #d00000;
	background		:#d00000;
	color			:#fafafa;
	text-align		:center;
	font-size		:2.5vw;
}

.twitter_title{
	width			:calc( 94vw + 2px );
	height			:8vw;
	line-height		:8vw;
	margin			:0 auto;
	font-size		:4vw;
	border-radius:2vw 2vw 0 0; 
}

.twitter_tl{
	width			:94vw;
	height			:100vw;
	margin			:0 auto;
}

.twitter_foot_in{
	margin			:2vw auto;
	width			:60vw;
	height			:6vw;
	line-height		:6vw;
	font-size		:3vw;
	border-radius	:3vw;
}

.twitter_foot{
	width		:94vw;
	height		:10vw;
}

}


